/****** PLACE YOUR CUSTOM STYLES HERE ***** */
body {
  background: white;
  z-index: 100; }

h1 {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #212121;
  font-size: 4.725em;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px; }

h2 {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #212121;
  font-size: 2.1em;
  margin: 0; }

p {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #616161;
  font-size: 1.4em;
  line-height: 1.7em;
  margin: 0; }

.about_border {
  margin-bottom: 32px;
  border-bottom: 2px solid #FF4081; }

.cover {
  overflow: hidden;
  height: 70vh;
  width: auto;
  background-color: white;
  background: url(../img/theteam.jpg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  will-change: transform; }

#top_cover .diagonal_up {
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70vh;
  background-image: url(../img/diagonal_up.png);
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat; }
  #top_cover .diagonal_up h1 {
    font-size: 96px;
    line-height: normal;
    padding: 15px 0;
    margin-bottom: 0;
    font-weight: 800; }
  #top_cover .diagonal_up #cover_border_top {
    margin-top: 20vh;
    border-bottom: 8px solid white; }
  #top_cover .diagonal_up #cover_border_bottom {
    border-bottom: 8px solid white; }

.on_top {
  z-index: 10000;
  cursor: pointer; }

header {
  height: auto;
  position: fixed;
  background: none;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 1s ease; }
  header .nav-bar {
    height: 70px;
    max-height: 70px;
    line-height: 70px;
    border: none;
    background: white;
    box-shadow: 0px 0px 6px 0px #212121; }
    header .nav-bar #plane_logo {
      max-height: 45px;
      opacity: 0.7;
      max-width: 85%; }
    header .nav-bar .menu li a {
      cursor: pointer;
      color: #616161;
      opacity: 1;
      font-family: "Roboto", Helvetica, sans-serif;
      font-weight: 500;
      font-size: 1.4em; }
    header .nav-bar .menu li a:hover {
      color: #FF4081;
      border-bottom: 1px solid #FF4081; }
    header .nav-bar .menu li a.link_to_grey {
      color: #616161; }
    header .nav-bar .menu li a.link_to_grey:hover {
      color: #212121; }
    header .nav-bar #social_nav {
      display: none; }
  header nav {
    background: none; }

#about h1 {
  margin-bottom: 32px; }

#about_border {
  margin-bottom: 32px;
  border-bottom: 2px solid #FF4081; }

#our_story {
  padding: 48px 0 32px 0; }

.diagonal_down {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../img/diagonal_down.png);
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat; }

#community {
  padding: 96px 0 48px 0; }
  #community h1 {
    margin-top: 120px;
    margin-bottom: 32px; }
  #community p {
    margin-bottom: 64px; }
  #community #about_border {
    margin-bottom: 46px; }
  #community .description {
    padding-bottom: 32px;
    background: white; }
    #community .description p {
      width: 90%;
      margin: 0 auto;
      padding-top: 32px; }
    #community .description a {
      display: block;
      width: 75%;
      margin: 32px auto 0 auto;
      cursor: pointer;
      height: 50px;
      font-weight: 600;
      font-family: "Roboto", Helvetica, sans-serif;
      color: white;
      background: #FF4081;
      font-size: 1.4em;
      border: 2px solid #FF4081;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease; }
    #community .description a:hover {
      background: white;
      color: #212121; }
    #community .description .descriptionTBC {
      padding-bottom: 32px; }
      #community .description .descriptionTBC a {
        border: 2px solid #616161;
        color: #212121;
        background: white; }
      #community .description .descriptionTBC a:hover {
        background: white;
        color: #FF4081; }

.community_image {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0; }
  .community_image img {
    width: 100%;
    height: auto;
    display: inline-block;
    transition: all 0.2s ease-in-out; }

.community_image img:hover {
  transform: scale(1.1); }

#advisors.diagonal_down {
  background-image: url(../img/diagonal_down_reverse_grey.png); }

#advisors {
  padding-top: 196px; }
  #advisors h2 {
    font-size: 2.1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    line-height: inherit;
    width: 50%;
    margin: 36px auto 64px auto;
    border-bottom: 2px solid #FF4081; }
  #advisors img {
    max-width: 100%;
    -webkit-filter: grayscale(0.2);
    filter: grayscale(0.2); }
  #advisors h4 {
    font-size: 2.1em;
    font-weight: 500;
    margin-bottom: 6px; }
  #advisors #advisors_description {
    padding-bottom: 64px; }
  #advisors p {
    line-height: 1.4em;
    color: #616161; }
  #advisors h4 span {
    text-transform: uppercase;
    font-size: 14px;
    color: #FF4081; }
  #advisors .advisors_social_links {
    padding-bottom: 32px; }
    #advisors .advisors_social_links a {
      font-size: 18px;
      color: #DDDDDD;
      cursor: pointer; }
    #advisors .advisors_social_links a:hover {
      color: #FF4081; }
  #advisors .advisors_img_HK {
    text-align: right; }
  #advisors .LDN_Advisors {
    text-align: right; }
  #advisors .advisors_mobile {
    display: none; }

#team {
  padding: 96px 0 96px 0; }
  #team h1 {
    text-align: center; }
  #team h4 {
    font-size: 2.1em;
    font-weight: 500;
    margin-bottom: 6px; }
  #team p {
    margin-bottom: 32px;
    padding-left: 5%;
    padding-right: 5%; }
  #team .TeamPhoto {
    margin-top: 48px;
    width: 225px;
    height: 225px;
    border-radius: 150px;
    -webkit-filter: grayscale(0.2);
    filter: grayscale(0.2); }
  #team .Team h4 span {
    text-transform: uppercase;
    font-size: 14px;
    color: #FF4081; }
  #team .Team p {
    margin-bottom: 0px;
    color: #616161; }
  #team .team_social_links {
    text-align: center;
    padding-bottom: 12px; }
    #team .team_social_links a {
      font-size: 20px;
      color: #DDDDDD;
      cursor: pointer; }
    #team .team_social_links a:hover {
      color: #FF4081; }

#media_assets .diagonal_up {
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../img/divider_arrow_down.png);
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat; }

#media_assets {
  height: 500px;
  padding: 96px 0 0 0;
  background: url(../img/passenger_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }
  #media_assets h1 {
    color: white;
    margin-bottom: 32px; }
  #media_assets #about_border {
    border-bottom: 2px solid white;
    margin-bottom: 64px; }
  #media_assets #media_links {
    padding-bottom: 196px; }
  #media_assets .social-connect {
    text-align: center; }
    #media_assets .social-connect li {
      margin: 48px 10px 0 10px; }
    #media_assets .social-connect i {
      cursor: pointer;
      font-size: 28px;
      color: white;
      background: #FF4081;
      padding: 20px;
      border-radius: 50px;
      border: 2px solid #FF4081;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease; }
    #media_assets .social-connect i:hover {
      color: #212121;
      background: white; }

.tweets-slider p {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 24px;
  color: #212121; }
.tweets-slider i {
  color: #212121; }
.tweets-slider .timePosted {
  font-size: 16px;
  font-weight: 400px;
  color: #DDDDDD; }
  .tweets-slider .timePosted a {
    color: #616161; }
.tweets-slider a {
  color: #FF4081; }

footer {
  padding-bottom: 24px;
  padding-top: 0;
  text-align: center; }
  footer img {
    padding-top: 32px;
    opacity: 0.5;
    cursor: pointer; }
  footer p {
    font-size: 16px;
    color: #616161;
    opacity: 0.5;
    padding-top: 24px; }
  footer .social-list {
    padding-top: 24px; }
    footer .social-list i {
      font-size: 24px;
      cursor: pointer;
      color: #DDDDDD;
      transition: all 0.3s ease; }
    footer .social-list i:hover {
      color: #FF4081; }

@media (max-width: 990px) {
  .nav-bar {
    background: white; }
    .nav-bar .nav_bar_open {
      padding: 0;
      z-index: 1000; }
    .nav-bar .menu li a {
      width: 100%;
      padding: 16px; }
    .nav-bar #top_link {
      border-top: 2px solid #FF4081; }
    .nav-bar #social_nav {
      display: block !important; }
    .nav-bar #social_nav li {
      padding: 24px 10px; }
    .nav-bar #social_nav li i {
      color: #616161; }

  .mobile-toggle {
    border: none; }

  #HK_city {
    margin-bottom: 96px; }

  .module.widget-handle {
    min-height: 70px;
    padding: 10px 20px;
    border: none; }

  #about p {
    text-align: center; }
  #about #verticals {
    margin-top: 64px; }

  #our_story p {
    padding-bottom: 16px; } }
@media (max-width: 769px) {
  #plane {
    animation: plane 4s both; }
  @keyframes plane {
    0% {
      margin-top: 100vh;
      opacity: 0;
      width: 150%; }
    50% {
      margin-top: 20vh;
      opacity: 1;
      width: 60%; }
    100% {
      margin-top: 20vh;
      opacity: 0;
      width: 60%; } }
  .diagonal_up .logo_cover #title_logo {
    width: 60%; }

  #tagline {
    padding: 0 15px; }

  h1 {
    line-height: 1.2em; }

  #about p {
    text-align: center; }
  #about #verticals {
    padding: 0 0 0 0; }

  #speakers h2 {
    font-size: 1.4em;
    padding-bottom: 20px; }

  #CTA #sign_up_form {
    text-align: center;
    display: block;
    margin: 0 auto; }
    #CTA #sign_up_form input[type="text"] {
      width: 80%; }
    #CTA #sign_up_form ::-webkit-input-placeholder {
      text-align: center; }
    #CTA #sign_up_form button[type="submit"] {
      width: 80%;
      margin-left: 0;
      margin-top: 20px;
      background: #FF4081;
      color: white;
      border: 2px solid #FF4081; } }
@media (max-width: 415px) {
  .cover {
    height: 100vh;
    background-attachment: scroll; }
    .cover h2 {
      font-size: 1.7em; }

  #ttt_logo {
    margin: 25vh auto 0 auto;
    width: 90%; }

  #top_cover .diagonal_up {
    height: 100vh; }

  h1 {
    font-size: 3.15em; }

  #tagline {
    font-size: 1.4em; }

  .cover_links {
    margin-top: 20px; }
    .cover_links .btn-lg {
      font-size: 0.8em;
      background: #FF4081; }

  #the_hack #journey {
    padding: 40px 20px; }

  #apply #the_process .process_copy {
    height: auto; }

  .icon-sm {
    font-size: 28px; }

  #community, #team {
    padding-top: 32px; }

  #community h1, #team h1 {
    margin-top: 32px; } }

/*# sourceMappingURL=about.css.map */
