/****** PLACE YOUR CUSTOM STYLES HERE ******/
// sass --watch /Users/Kostadin/Google\ Drive/Horizon/Website/Horizon\ GitHub\ Website/css:/Users/Kostadin/Google\ Drive/Horizon/Website/Horizon\ GitHub\ Website/css

$pink: #FF4081
$blue: #1DB9FF
$black: #212121
$grey1: #616161
$grey2: #DDDDDD
$grey3: #F5F5F5

$font: "Roboto", Helvetica, sans-serif
$h1: 4.725em
$h2: 3.15em
$h3: 2.1em
$p: 1.4em
$p-mob: 0.933

#plane
	animation: plane 4s both

	@keyframes plane
		0% 
			margin-top: 100vh
			opacity: 0
			width: 150%				
		50%
			margin-top: 20vh
			opacity: 1
			width: 40%
		100%
			margin-top: 20vh
			opacity: 0
			width: 40%
			

#title_logo
	animation: title_logo 1s 2s both

	@keyframes title_logo
		0% 
			opacity: 0

		100%
			opacity: 1

#tagline
	animation: tagline 1s 3s both

	@keyframes tagline
		0% 
			opacity: 0
			padding-top: 10px				
		100%
			opacity: 1
			padding-top: 0

.cover_links
	animation: cover_links 1s 5.5s both

	@keyframes cover_links
		0% 
			opacity: 0
			padding-top: 10px				
		100%
			opacity: 1
			padding-top: 0

header
	animation: header_transition 1s 6s both

	@keyframes header_transition
		0% 
			top: -70px				
		100%
			top: 0

body
	height: 500vh
	background: white
	z-index: 100

h1
	font-family: $font
	color: $black
	font-size: $h1
	margin-bottom: 60px
	text-transform: uppercase
	font-weight: 400
	letter-spacing: 5px



h2 
	font-family: $font
	color: $black
	font-size: $h3
	margin: 0

p 
	font-family: $font
	color: $grey1
	font-size: $p
	line-height: 1.7em
	margin: 0

.section_padding
	padding: 96px 0 120px 0

header.show
	background: white
	box-shadow: 0px 0px 6px 0px $black

header
	height: auto
	position: fixed
	background: none
	left: 0
	width: 100%
	z-index: 100
	transition: all 1s ease
	

	.nav-bar
		height: 70px
		max-height: 70px
		line-height: 70px
		border: none

		#plane_logo
			max-height: 45px
			display: none

		.menu li a
			color: white
			opacity: 1
			font-family: $font
			font-weight: 500
			font-size: 1.4em

		.menu li a:hover
			color: $pink
			border-bottom: 1px solid $pink

		.menu li a.link_to_grey
			color: $grey1
		
		.menu li a.link_to_grey:hover
			color: $black

	nav
		background: none

.cover 
	z-index: -1000
	overflow: hidden

	&::before
		content: ' '
		position: fixed
		width: 100%
		height: 100vh
		top: 0
		left: 0
		background-color: white
		background: url(../img/plane_runway_dark.jpg) no-repeat center center
		background-size: cover
		will-change: transform 
		z-index: -1000
	

.diagonal_up
	position: relative
	bottom: 0px
	left: 0px
	width: 100%
	height: 100vh
	background-image: url(../img/diagonal_up.png)
	background-size: 100% auto
	background-position: bottom
	background-repeat: no-repeat

	.logo_cover 
		text-align: center
		position: relative
		top: 0
		left: 0
		width: 100%


		#title_logo
			position: absolute
			margin-left: auto
			margin-right: auto
			left: 0
			right: 0

			width: 40%
			margin-top: 20vh

	h2  
		padding: 0
		margin-top: 6vh
		margin-bottom: 8vh
		color: white
		text-align: center
		line-height: 1.3em

.cover_links
	z-index: 100
	text-align: center
	margin-top: 15vh


	.bg-primary button[type="submit"]
		font-size: 20px
		color: #fff
		background: $pink
		border: 2px solid $pink
		transition: all 0.3s ease

	.bg-primary button[type="submit"]:hover
		color: #fff
		background: $blue
		border: 2px solid $blue


	.btn-lg
		height: 50px
		font-weight: 600
		font-family: $font
		color: white
		font-size: 1.4em		
		border: 2px solid $pink
		transition: all 0.3s ease
		-webkit-transition: all 0.3s ease
		-moz-transition: all 0.3s ease
		

	.btn-lg:hover			
		border: 2px solid $pink !important
		background: $pink

#about
	padding-top: 96px
	background: white


	#verticals
		padding-left: 50px
		padding-bottom: 96px
		margin-left: 0
	h2
		color: $pink
		font-weight: 500
		margin: -56px 0 64px 0 


#wingtip_divider
	display: block
	height: 700px
	width: 100%
	background-image: url(../img/wingtip.jpg)
	background-size: cover
	background-position: center 
	background-repeat: no-repeat

	.diagonal_down
		position: relative
		top: 0px
		left: 0px
		width: 100%
		height: 100%
		background-image: url(../img/diagonal_down.png)
		background-size: 100% auto
		background-position: top
		background-repeat: no-repeat

	.diagonal_up
		position: relative
		bottom: 0px
		left: 0px
		width: 100%
		height: 100%
		background-image: url(../img/diagonal_up.png)
		background-size: 100% auto
		background-position: bottom
		background-repeat: no-repeat

#the_hack
	background: white

	#HK_LDN
		text-align: center
		padding-top: 0
		padding-bottom: 64px
		color: $black

	#journey 
		padding: 80px
	h2
		font-size: 2.1em
		text-align: center
		text-transform: uppercase
		font-weight: 500
		padding-top: 24px
		width: 55%
		margin: 0 auto
		border-bottom: 2px solid #FF4081


	p 
		text-align: center
		padding-top: 20px
		color: $grey1

#passenger_divider
	@extend #wingtip_divider

	background-image: url(../img/passenger.jpg)

	.diagonal_down
		@extend .diagonal_down

		background-image: url(../img/diagonal_down_reverse.png)

		.diagonal_up
			@extend .diagonal_up

			background-image: url(../img/diagonal_up_reverse.png)


#apply
	background: white

	background-image: url(../img/arrow_down.png)
	background-size: 100% auto
	background-position: bottom
	background-repeat: no-repeat

	#the_process

		.process_image, .process_image_mobile
			width: 77%
			display: block
			margin: 0 auto

		.process_image_mobile
			display: none

		.process_copy

			padding-top: 50px 

			h2
				font-size: 2.1em
				text-transform: uppercase
				font-weight: 500
				width: 50%
				margin: 0 auto
				border-bottom: 2px solid #FF4081
			p 
				padding-top: 20px
				color: $grey1			

	#the_numbers
		text-align: center
		height: auto
		padding-top: 96px
		padding-bottom: 156px

		h1 
			margin: 0
			letter-spacing: -2px
			font-weight: 500
			color: $pink
		h5
			color: $black
			font-size: $h3
			text-transform: lowercase

#CTA.section_padding
	padding-bottom: 36px

#CTA
	background: $blue

	h1 
		color: white
		margin-bottom: 0

		span
			font-size: 0.622em

	p
		color: white
		padding-top: 12px
		font-size: 1.2em
	
	#sign_up_form
		padding: 120px 0 8px 0

		input[type="text"]
			@extend h2

			width: 65%
			background: none
			color: white
			border-bottom: 2px solid white
			font-size: 1.4em

		input[type="text"]:focus
			outline: none
			border-bottom: 2px solid $pink
			color: white
			background: none
			font-size: 1.4em

		::-webkit-input-placeholder
			text-align: left
			font-family: $font
			color: white
			text-transform: uppercase
			font-size: 1.2em

		button[type="submit"]
			width: 32%
			margin-left: 2%
			font-family: $font
			font-weight: 500
			color: $black
			background: white
			border: 2px solid white
			text-transform: uppercase
			font-size: 1.4em
			transition: all 0.3s ease


		button[type="submit"]:hover
			background: $pink
			color: white
			border: 2px solid $pink

#partners.arrow_down_reverse
	background-image: url(../img/arrow_down_reverse.png)
	background-size: 100% auto
	background-position: top
	background-repeat: no-repeat

#partners
	background: white
	text-align: center

	h1
		text-align: center
		padding-top: 182px

	.partner_logo
		height: 150px
		display: flex
		justify-content: center
		align-items: center


	.partner_logo img
		max-height: 120px
		padding: 15px
		-webkit-filter: grayscale(1)
		filter: grayscale(1)


	.partner_logo img:hover
		-webkit-filter: grayscale(0)
		filter: grayscale(0)


	#startupshk
		max-height: 100px

#airport_divider
	@extend #wingtip_divider

	height: 600px
	background-image: url(../img/airport.jpg)

	.diagonal_down
		@extend .diagonal_down

		background-image: url(../img/divider_arrow_up.png)		

#team
	// background: white

	h1
		text-align: center

	h4
		font-size: 2.1em
		font-weight: 500


	.TeamPhoto
		width: 225px
		height: 225px
		// border-radius: 200px
		-webkit-filter: grayscale(0.2)
		filter: grayscale(0.2)


	.Team h4 span
		text-transform: uppercase
		font-size: 14px
		color: $pink

	.Team p
		margin-bottom: 0px
		color: $grey1

#advisors
	background: white

	h2 
		font-size: 2.1em
		text-align: center
		text-transform: uppercase
		font-weight: 500
		line-height: inherit
		width: 50%
		margin: 36px auto 64px auto
		border-bottom: 2px solid #FF4081

	img
		height: 180px
		width: 180px
		-webkit-filter: grayscale(0.2)
		filter: grayscale(0.2)

	h4
		font-size: 2.1em
		font-weight: 500
		margin-bottom: 6px
	p
		line-height: 1.4em
		color: $grey1

	.advisors_social_links
		padding-top: 1.4em	
	a
		font-size: 18px
		color: $grey2
	
	a:hover
		color: $pink

	.advisors_img_HK
		text-align: right

	.LDN_Advisors
		text-align: right

	.advisors_mobile
		display: none



.footer_cover
	background: white
	z-index

footer
	text-align: center
	padding-top: 0
	height: 360px
	background: white
	background: url(../img/footer2.jpg) no-repeat center bottom

	background-attachment: fixed
	background-size: cover

	will-change: transform

	.social-list
		padding-top: 96px
		padding-bottom: 35px

		i
			color: $black
		i:hover
			color: $pink	

	.image-xs
		width: 400px
		margin-bottom: 8px


.foundry_modal
	padding: 0px

.foundry_modal .close-modal
	z-index: 10


.modal_left, .modal_right
	padding-top: 48px
	float: left
	width: 50%
	height: 100%
	text-align: center


.modal_right
	background: #f8f8f8


.foundry_modal img
	width: 25%


.foundry_modal h4
	font-weight: 400
	text-transform: uppercase


.foundry_modal p
	padding: 30px


.foundry_modal .btn
	border: 2px solid $pink
	color: #292929

.foundry_modal .btn:hover
	background:  $blue
	border: 2px solid $blue
	color: #fff



@media (max-width: 990px)
	
	.mobile-toggle
		border: none
	
	.module.widget-handle
		min-height: 70px
		padding: 10px 20px
		border: none

	#about 
		p
			text-align: center

		#verticals
			margin-top: 64px 

	#the_numbers
		h5
			padding-bottom: 24px

	#apply 
		#the_process 
			.process_image_mobile
				display: block
				width: 90%
			.process_image
				display: none

	#advisors .col-md-6
		text-align: center

		.advisors_mobile
			display: block
		
		.advisors
			display: none		

@media (max-width: 769px)

	#tagline
		padding: 0 15px

	h1 
		line-height: 1.2em
	
	#about
		p
			text-align: center
		
		#verticals
			padding: 0 0 0 0
	

	#CTA #sign_up_form 
		text-align: center
		display: block
		margin: 0 auto

		input[type="text"]


		::-webkit-input-placeholder
			text-align: center

		button[type="submit"]
			width: 65%
			margin-left: 0
			margin-top: 20px
			background: $pink
			color: white
			border: 2px solid $pink


@media (max-width: 376px)
	h1
		font-size: 3.15em
	#tagline
		font-size: 1.4em
	
	.cover_links
		margin-top: 20px
		
		.btn-lg
			font-size: 0.8em
			background: $pink

	#the_hack #journey
		padding: 40px 20px

	#apply #the_process .process_copy
		height: auto
	.icon-sm
		font-size: 28px

// .fade-half.lead.mb0
// 	color: #333
// 	font-size: 20px
// 	padding-bottom: 100px


// p.fade-half
// 	font-size: 16px
// 	color: #fff
// 	opacity: 1


// .fade-half.lead.mb0
// 	padding-bottom: 48px


// form.halves input
// 	color: #333
// 	font-family: "Roboto"
// 	/*text-align: center*/
// 	font-size: 12px
// 	font-weight: bold
// 	/*text-transform: uppercase*/
// 	color: #333 !important
// 	border-bottom: 2px solid $orange

// form.halves input:focus
// 	border: 2px solid $blue


// form.halves ::-webkit-input-placeholder
// 	color: black
// 	font-size: 12px
	

// .close-nav
// 	cursor: pointer


// .feature-1 i
// 	color: $blue


// .feature.boxed
// 	background: rgba(255, 255, 255, 0.85)


// .WhyTravel .feature.feature-1.boxed
// 	height: 350px


// .NYC.col-sm-4.text-center
// 	background-image: url(../img/NYC.png)
// 	background-size: auto 100%
// 	background-repeat: no-repeat
// 	background-position: center bottom

// .LDN.col-sm-4.text-center
// 	background-image: url(../img/LDN.png)
// 	background-size: auto 100%
// 	background-repeat: no-repeat
// 	background-position: center bottom

// .HK.col-sm-4.text-center
// 	background-image: url(../img/HK.png)
// 	background-size: auto 100%
// 	background-repeat: no-repeat
// 	background-position: center bottom


// .background-image-holder
// 	z-index:0


// .WhyTravel h2.uppercase.bold
// 	color: #fff !important


// .WhyTravelIcons, .WhyThisIcons
// 	width: 120px
// 	padding-bottom: 20px


// p
// 	color: #292929
// 	/*font-size: 1.1em*/


// .partners
// 	text-align: center


// .partner_logo
// 	height: 150px
// 	display: flex
// 	justify-content: center
//     align-items: center


// .partner_logo img
// 	max-height: 120px
// 	padding: 15px
// 	 -webkit-filter: grayscale(1)
//   	filter: grayscale(1)


// .partner_logo img:hover
// 	 -webkit-filter: grayscale(0)
//   	filter: grayscale(0)


// #startupshk
// 	max-height: 100px


// /*.AboutHorizon
// 	background: url(../img/map.png)
// 	background-size: 80% auto
// 	background-repeat: no-repeat
// 	background-position: center 115px
// */

// .TeamPhoto
// 	width: 200px
// 	height: 200px
// 	border-radius: 200px
// 	-webkit-filter: grayscale(1)
//   	filter: grayscale(1)


// .Team h4
// 	line-height: 25px


// .Team h4 span
// 	text-transform: uppercase
// 	font-size: 14px
// 	color: $orange


// #TeamSection
// 	padding-bottom: 48px


// .Team p
// 	margin-bottom: 0px


// .btn.btn-lg.btn-filled
// 	border: none
// 	padding: 3px
//     -webkit-transition: all 0.3s ease
// 	-moz-transition: all 0.3s ease

// .GetInTouch .btn.btn-lg.btn-filled
// 	margin-top: 24px


// .GetInTouch .btn.btn-lg.btn-filled:hover
// 	background: $blue
// 	color: #fff


// .ti-facebook
// 	font-size: 1.9em
// 	vertical-align: 3px


// .foundry_modal
// 	padding:0px


// .foundry_modal .close-modal
// 	z-index: 10


// .modal_left, .modal_right
// 	padding-top: 48px
// 	float: left
// 	width: 50%
// 	height: 100%
// 	text-align: center


// .modal_right
// 	background: #f8f8f8


// .foundry_modal img
// 	width: 25%


// .foundry_modal h4
// 	font-weight: 400
// 	text-transform: uppercase


// .foundry_modal p
// 	padding: 30px


// .foundry_modal .btn
// 	border: 2px solid $orange
// 	color: #292929

// .foundry_modal .btn:hover
// 	background:  $blue
// 	border: 2px solid $blue
// 	color: #fff



// /* --------- Media Queries ----------*/

// @media (max-width: 990px)
// 	.AboutHorizon
// 		background-position: center 200px
	
// 	.WhyThis .feature.feature-1.boxed
// 		height: 560px
	
// 	.WhyTravel .feature.feature-1.boxed
// 		height: 390px
	


// @media (max-width: 768px)
// 	.AboutHorizon
// 		background: none
		
// 	.AboutHorizon h1, .AboutHorizon h5 
// 		text-align: center
	
// 	.LDN, .NYC, .HK
// 		margin-bottom: 40px
	
// 	.feature.feature-1.boxed
// 		height: 300px
	
// 	.WhyTravel .feature p:last-child
// 		font-size: 1.1em
	
// 	.WhyThis .feature.feature-1.boxed
// 		height: 350px
	
// 	form.halves input
// 		margin-bottom: 20px
// 		border: 2px solid $orange
	
// 	form.halves ::-webkit-input-placeholder
// 		text-align: center
	
// 	footer .social-list
// 		margin-top: 20px
	
// 	.ti-facebook
// 		font-size: 1.2em
// 		vertical-align: 1px
	
// 	.modal_left, .modal_right
// 		float: none
// 	    width: 100%
	





