/****** PLACE YOUR CUSTOM STYLES HERE ******/

/*orange = #E64A19*/
/*blue = #1495ED*/
#title_logo {
	max-width: 55%;
    padding-bottom: 25px;
}
.bg-primary button[type="submit"]{
	font-size: 12px;
	color: #fff;
	background: #E64A19;
	border: 2px solid #E64A19;
	transition: all 0.3s ease;
	  -webkit-transition: all 0.3s ease;
	  -moz-transition: all 0.3s ease;
}
.bg-primary button[type="submit"]:hover{
	color: #fff;
	background: #1495ED;
	border: 2px solid #1495ED;
}

.CTA.uppercase.bold {
	color: #333; 
}

.fade-half.lead.mb0 {
	color: #333;
	font-size: 20px;
	padding-bottom: 100px
}

p.fade-half {
	font-size: 16px;
	color: #fff;
	opacity: 1;
}

.fade-half.lead.mb0 {
	padding-bottom: 48px;
}

form.halves input {
	color: #333;
	font-family: "Roboto";
	/*text-align: center;*/
	font-size: 12px;
	font-weight: bold;
	/*text-transform: uppercase;*/
	color: #333 !important;
	border-bottom: 2px solid #E64A19;
}
form.halves input:focus {
	border: 2px solid #1495ED;
}

form.halves ::-webkit-input-placeholder {
	color: black;
	font-size: 12px
}	

.close-nav {
	cursor: pointer;
}

.feature-1 i {
	color: #1495ED;
}

.feature.boxed {
	background: rgba(255, 255, 255, 0.85);
}

.WhyTravel .feature.feature-1.boxed {
	height: 350px;
}

.NYC.col-sm-4.text-center {
	background-image: url(../img/NYC.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.LDN.col-sm-4.text-center {
	background-image: url(../img/LDN.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.HK.col-sm-4.text-center {
	background-image: url(../img/HK.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.background-image-holder {
	z-index:0;
}

.WhyTravel h2.uppercase.bold {
	color: #fff !important;
}

.WhyTravelIcons, .WhyThisIcons {
	width: 120px;
	padding-bottom: 20px;
}

p {
	color: #292929;
	/*font-size: 1.1em*/
}

.partners {
	text-align: center;
}

.partner_logo {
	height: 150px;
	display: flex;
	justify-content: center;
    align-items: center;
}

.partner_logo img {
	max-height: 120px;
	padding: 15px;
	 -webkit-filter: grayscale(1);
  	filter: grayscale(1);
}

.partner_logo img:hover {
	 -webkit-filter: grayscale(0);
  	filter: grayscale(0);
}

#startupshk {
	max-height: 100px;
}

/*.AboutHorizon {
	background: url(../img/map.png);
	background-size: 80% auto;
	background-repeat: no-repeat;
	background-position: center 115px;
}*/

.TeamPhoto {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
}

.Team h4 {
	line-height: 25px;
}

.Team h4 span {
	text-transform: uppercase;
	font-size: 14px;
	color: #E64A19;
}

#TeamSection {
	padding-bottom: 48px;
}

.Team p {
	margin-bottom: 0px;
}

.btn.btn-lg.btn-filled {
	border: none;
	padding: 3px;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
.GetInTouch .btn.btn-lg.btn-filled {
	margin-top: 24px;
}

.GetInTouch .btn.btn-lg.btn-filled:hover {
	background: #1495ED;
	color: #fff
}

.ti-facebook {
	font-size: 1.9em;
	vertical-align: 3px;
}

.foundry_modal {
	padding:0px;
}

.foundry_modal .close-modal {
	z-index: 10;
}

.modal_left, .modal_right {
	padding-top: 48px;
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
}

.modal_right {
	background: #f8f8f8;
}

.foundry_modal img {
	width: 25%
}

.foundry_modal h4 {
	font-weight: 400;
	text-transform: uppercase;
}

.foundry_modal p {
	padding: 30px;
}

.foundry_modal .btn {
	border: 2px solid #E64A19;
	color: #292929
}
.foundry_modal .btn:hover {
	background:  #1495ED;
	border: 2px solid #1495ED;
	color: #fff
}


/* --------- Media Queries ----------*/

@media (max-width: 990px) {
	.AboutHorizon {
		background-position: center 200px;
	}
	.WhyThis .feature.feature-1.boxed {
		height: 560px;
	}
	.WhyTravel .feature.feature-1.boxed {
		height: 390px;
	}
}

@media (max-width: 768px) {
	.AboutHorizon {
		background: none;
	}	
	.AboutHorizon h1, .AboutHorizon h5  {
		text-align: center;
	}
	.LDN, .NYC, .HK {
		margin-bottom: 40px;
	}
	.feature.feature-1.boxed {
		height: 300px;
	}
	.WhyTravel .feature p:last-child {
		font-size: 1.1em;
	}
	.WhyThis .feature.feature-1.boxed {
		height: 350px;
	}
	form.halves input {
		margin-bottom: 20px;
		border: 2px solid #E64A19;
	}
	form.halves ::-webkit-input-placeholder {
		text-align: center;
	}
	footer .social-list {
		margin-top: 20px;
	}
	.ti-facebook {
		font-size: 1.2em;
		vertical-align: 1px;
	}
	.modal_left, .modal_right {
		float: none;
	    width: 100%;
	}
}




