/****** PLACE YOUR CUSTOM STYLES HERE ******/

/*orange = #E64A19*/
/*blue = #1495ED*/
#title_logo {
	max-width: 60%;
    padding-bottom: 25px;
}
.bg-primary button[type="submit"]{
	font-size: 12px;
	color: #fff;
	background: #E64A19;
	border: 2px solid #E64A19;
	transition: all 0.3s ease;
	  -webkit-transition: all 0.3s ease;
	  -moz-transition: all 0.3s ease;
}
.bg-primary button[type="submit"]:hover{
	color: #fff;
	background: #1495ED;
	border: 2px solid #1495ED;
}

.CTA.uppercase.bold {
	color: #333; 
}

.fade-half.lead.mb0 {
	color: #333;
}

form.halves input {
	color: #333 !important;
	border-bottom: 2px solid #E64A19;
}

form.halves ::-webkit-input-placeholder {
	color: black;
	font-size: 12px
}	

.feature-1 i {
	color: #1495ED;
}

.feature.boxed {
	background: rgba(255, 255, 255, 0.85);
}

.NYC.col-sm-4.text-center {
	background-image: url(../img/NYC.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.LDN.col-sm-4.text-center {
	background-image: url(../img/LDN.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.HK.col-sm-4.text-center {
	background-image: url(../img/HK.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
}

#WhyTravel {
	background: url(../img/cover9.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}

#WhyTravel h2 {
	color: #fff;
}

/*.AboutHorizon {
	background: url(../img/map.png);
	background-size: 80% auto;
	background-repeat: no-repeat;
	background-position: center 200px;);
}*/

/* --------- Media Queries ----------*/

@media (max-width: 768px) {
	.AboutHorizon h1, .AboutHorizon h5  {
		text-align: center;
	}
	.LDN, .NYC, .HK {
		margin-bottom: 40px;
	}
	.LDN.col-sm-4.text-center {
		background-size: 50% auto;
	}
	form.halves input {
		margin-bottom: 20px;
		border: 2px solid #E64A19;
	}
	form.halves ::-webkit-input-placeholder {
		text-align: center;
	}
	footer .social-list {
		margin-top: 20px;
	}
}




