doctype html
html(lang='en')
    head
        title Hack Horizon - TravelTech hackathon on a plane from Hong Kong to London.
        meta(charset='utf-8')
        // Open Graph Meta-Tags
        meta(property='og:title', content=' Hack Horizon - TravelTech hackathon on a plane from Hong Kong to London.')
        meta(property='og:site_name', content='Hack Horizon')
        meta(property='og:url', content='http://www.hackhorizon.com')
        meta(property='og:description', content='A hackathon on an airplane taking 32 of best entrepreneurs, engineers and designers from Hong Kong to London, on a mission to redefine TravelTech.')
        meta(property='og:type', content='website')
        meta(property='og:image', content='http://www.hackhorizon.com/img/plane_runway_meta.jpg')
        meta(name='description', content='A hackathon on an airplane taking 32 of best entrepreneurs, engineers and designers from Hong Kong to London, on a mission to redefine TravelTech.')
        meta(name='author', content='Kostadin Kolev')
        link(rel='canonical', href='http://www.hackhorizon.com')

        // Twitter
        meta(name='twitter:card', content='summary')
        meta(name='twitter:url', content='http://www.hackhorizon.com')
        meta(name='twitter:title', content='Hack Horizon')
        meta(name='twitter:description', content='A hackathon on an airplane taking 32 of best entrepreneurs, engineers and designers from Hong Kong to London, on a mission to redefine TravelTech.')
        meta(name='twitter:image', content='http://www.hackhorizon.com/img/plane_runway_meta.jpg')

        // LinkedIn Fix
        meta(prefix='og: http://ogp.me/ns#', property='og:title', content='Hack Horizon')
        meta(prefix='og: http://ogp.me/ns#', property='og:type', content='website')
        meta(prefix='og: http://ogp.me/ns#', property='og:image', content='http://www.hackhorizon.com/img/plane_runway_meta.jpg')
        meta(prefix='og: http://ogp.me/ns#', property='og:url', content='http://www.hackhorizon.com')    

        // Google  
        meta(name='google-site-verification', content='7b1NR2hkbM8tSikmIyOuY9KomX2mYdEgdR6punOeyzs')
        meta(name='google-site-verification', content='Eo4c7vHQRKVE4sOLhfu-dsiCqSdJgf1WzOLA8rTqN9s')

        link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
        link(rel='manifest', href='/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
        meta(name='theme-color', content='#ffffff')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='css/pe-icon-7-stroke.css', rel='stylesheet', type='text/css', media='all')
        link(href='css/et-line-icons.css', rel='stylesheet', type='text/css', media='all')
        link(href='css/font-awesome.min.css', rel='stylesheet', type='text/css', media='all')
        link(href='css/themify-icons.css', rel='stylesheet', type='text/css', media='all')
        link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
        link(href='css/flexslider.css', rel='stylesheet', type='text/css', media='all')
        link(href='css/theme.css', rel='stylesheet', type='text/css', media='all')
        link(href='css/FAQs.css', rel='stylesheet', type='text/css', media='all')
        link(href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,600,700', rel='stylesheet', type='text/css')
        link(href='css/font-roboto.css', rel='stylesheet', type='text/css')
        
        // Google Tag Manager
        script.
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-5M864QM');
        
        // Google Analytics
        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-43203720-4', 'auto');
          ga('send', 'pageview');
    
body.scroll-assist
    .main-container
        header
            .nav_bar
                .nav-container
                      nav.scrolled
                        .nav-bar.text-center
                            .col-md-2.col-md-push-5.on_top
                                .col-sm-12.text-center
                                    a(href='index.html')
                                        img#plane_logo(alt='Hack Horizon Logo', src='img/logo_dark.png')
                            .col-sm-12.col-md-5.col-md-pull-2.overflow-hidden-xs.nav_bar_open
                                ul.menu.inline-block.pull-right
                                    li
                                        a.inner-link#top_link(href='index.html#about') ABOUT
                                    li
                                        a.inner-link(href='index.html#the_hack') THE HACKATHON
                                    li
                                        a.inner-link(href='index.html#apply') APPLICATIONS

                            .col-sm-12.col-md-5.pb-xs-24.nav_bar_open
                                ul.menu
                                    li 
                                        a.inner-link(href='traveltechtuesdays.html') COMMUNITY
                                    li
                                        a.inner-link(href='runwayrundown.html') INSIGHTS
                                    li
                                        a.inner-link(href='index.html#team') CONTACT US
                            .col-md-4.col-md-offset-4#social_nav
                                ul.list-inline.social-list
                                    li
                                        a(href='mailto:team@hackhorizon.com')
                                            i.ti.ti-email.icon-sm
                                    li
                                        a(href='https://www.facebook.com/hackhorizon', target='_blank')
                                            i.ti-facebook.icon-sm
                                    li
                                        a(href='https://www.twitter.com/hackhorizon', target='_blank')
                                            i.ti-twitter-alt.icon-sm
                                    li
                                        a(href='https://www.linkedin.com/company/hack-horizon', target='_blank')
                                            i.ti-linkedin.icon-sm
                    .module.widget-handle.mobile-toggle.right.visible-sm.visible-xs.absolute-xs.on_top
                        i.ti-menu
        section#top_cover.cover.in-page-link
                    .container
                        .row
                            .col-md-8.col-md-offset-2.col-xs-8.col-xs-offset-2#cover_border_top
                        
                        .row
                            .col-md-8.col-md-offset-2.text-center
                                h1
                                  | FREQUENTLY ASKED QUESTIONS 
                        .row
                            .col-md-8.col-md-offset-2.col-xs-8.col-xs-offset-2#cover_border_bottom


        section#questions.section_padding
            .container
                .row
                    .col-sm-10.col-sm-offset-1.text-center
                        h4 Hack Horizon is a huge hackathon and undoubtedly you will have some questions about how everything is going to come togheter! We created this page to as the go to repository of all the key questions you might have. 
                        p.lead
                            | Remember [Command-F] is your friend
                .row
                    .col-sm-10.col-sm-offset-1
                        h2 General
                        ul.accordion.accordion-2.multi-open
                            li
                                .title
                                    h4.inline-block.mb0 Where can I find the dates and schedule for Hack Horizon?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 What are the participation costs? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Would I need to get time off work/school?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 How will my data after I apply?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 How long will the hackathon last?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Am I expected to work throughout the whole hackathon?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row
                    .col-sm-10.col-sm-offset-1
                        h2 Rules
                        ul.accordion.accordion-2.multi-open
                            li
                                .title
                                    h4.inline-block.mb0 What is the Code of Conduct?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 What are the rules? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row
                    .col-sm-10.col-sm-offset-1
                        h2 Travel
                        ul.accordion.accordion-2.multi-open
                            li
                                .title
                                    h4.inline-block.mb0 Do I need a travel visa?

                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Do you sponsor/reimburse my visa?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Do I need travel insurance?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 What are the accommodations for the event? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 What do I need to bring?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Is catering provided? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row
                    .col-sm-10.col-sm-offset-1
                        h2 Applications
                        ul.accordion.accordion-2.multi-open
                            li
                                .title
                                    h4.inline-block.mb0 How will my application be judged?

                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Who can apply?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 When do applications open?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 When do applications close?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 When will I know if I have been selected?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 How does the application process work? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Can I still apply if this is my first hackathon?  
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Can I apply as part of a team? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.         
                .row
                    .col-sm-10.col-sm-offset-1
                        h2 Teams
                        ul.accordion.accordion-2.multi-open
                            li
                                .title
                                    h4.inline-block.mb0 Can I participate remotely/have remote participants in my team?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 How will teams be formed? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Can I form my team before the hackathon?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Can I work on my own? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row
                    .col-sm-10.col-sm-offset-1
                        h2 Ideas & Projects
                        ul.accordion.accordion-2.multi-open
                            li
                                .title
                                    h4.inline-block.mb0 What kind of ideas can I build? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Can I work on a pre-existing idea?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Can I participate if I don’t have an idea? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 When can I start developing my idea?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Can I pitch more than one idea? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
                .row
                    .col-sm-10.col-sm-offset-1
                        h2 Intellectual Property
                        ul.accordion.accordion-2.multi-open
                            li
                                .title
                                    h4.inline-block.mb0 How do teams address the issue of intellectual property/ownership?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 How do I protect against people stealing my idea? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.        
                .row
                    .col-sm-10.col-sm-offset-1
                        h2 Resources
                        ul.accordion.accordion-2.multi-open
                            li
                                .title
                                    h4.inline-block.mb0 How do I prepare for the hackathon?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Are the pre-hackathon workshop compulsory? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Who will deliver the workshops?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 What resources will I have during the hackathon? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Do I have to use sponsor APIs?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Can I use an UI Kit? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Will there be WiFi on the plane? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Who will be mentoring? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row
                    .col-sm-10.col-sm-offset-1
                        h2 Pitches
                        ul.accordion.accordion-2.multi-open
                            li
                                .title
                                    h4.inline-block.mb0 What is the format of the pitches?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 Who will be judging my pitch?
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 What is the judging criteria? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 What are the prizes? 
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li
                                .title
                                    h4.inline-block.mb0 What happens after the pitches?  
                                .content
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.                                


        footer.footer-2.text-center-xs.bg-secondary
            .container
                .row
                    .col-sm-6.text-center
                        p
                            | © Copyright 2016 Xpresso Labs Limited - All Rights Reserved
                    .col-sm-6.text-right.text-center-xs
                        ul.list-inline.social-list
                            li
                                a(href='mailto:team@hackhorizon.com')
                                    i.ti.ti-email.icon-sm
                            li
                                a(href='https://www.facebook.com/hackhorizon', target='_blank')
                                    i.ti-facebook.icon-sm
                            li
                                a(href='https://www.twitter.com/hackhorizon', target='_blank')
                                    i.ti-twitter-alt.icon-sm
                            li
                                a(href='https://www.linkedin.com/company/hack-horizon', target='_blank')
                                    i.ti-linkedin.icon-sm
        

    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5M864QM', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/flexslider.min.js')
    script(src='js/masonry.min.js')    
    script(src='js/smooth-scroll.min.js')
    script(src='js/parallax.min.js')
    script(src='js/scripts.js')
    //- script(src='js/custom.js')