doctype html
html(lang='en')
  head
    title Hack Horizon - TravelTech hackathon on a plane from Hong Kong to London.
    meta(charset='utf-8')
    // Open Graph Meta-Tags
    meta(property='og:title', content=' Hack Horizon - TravelTech hackathon on a plane from Hong Kong to London.')
    meta(property='og:site_name', content='Hack Horizon')
    meta(property='og:url', content='http://www.hackhorizon.com')
    meta(property='og:description', content='A hackathon on an airplane taking 32 of best entrepreneurs, engineers and designers from Hong Kong to London, on a mission to redefine TravelTech.')
    meta(property='og:type', content='website')
    meta(property='og:image', content='http://www.hackhorizon.com/img/plane_runway_meta.jpg')
    meta(name='description', content='A hackathon on an airplane taking 32 of best entrepreneurs, engineers and designers from Hong Kong to London, on a mission to redefine TravelTech.')
    meta(name='author', content='Kostadin Kolev')
    link(rel='canonical', href='http://www.hackhorizon.com')

    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:url', content='http://www.hackhorizon.com')
    meta(name='twitter:title', content='Hack Horizon')
    meta(name='twitter:description', content='A hackathon on an airplane taking 32 of best entrepreneurs, engineers and designers from Hong Kong to London, on a mission to redefine TravelTech.')
    meta(name='twitter:image', content='http://www.hackhorizon.com/img/plane_runway_meta.jpg')

    // LinkedIn Fix
    meta(prefix='og: http://ogp.me/ns#', property='og:title', content='Hack Horizon')
    meta(prefix='og: http://ogp.me/ns#', property='og:type', content='website')
    meta(prefix='og: http://ogp.me/ns#', property='og:image', content='http://www.hackhorizon.com/img/plane_runway_meta.jpg')
    meta(prefix='og: http://ogp.me/ns#', property='og:url', content='http://www.hackhorizon.com')    

    // Google  
    meta(name='google-site-verification', content='7b1NR2hkbM8tSikmIyOuY9KomX2mYdEgdR6punOeyzs')
    meta(name='google-site-verification', content='Eo4c7vHQRKVE4sOLhfu-dsiCqSdJgf1WzOLA8rTqN9s')

    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='css/pe-icon-7-stroke.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/et-line-icons.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/font-awesome.min.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/themify-icons.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/flexslider.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/theme.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/custom.css', rel='stylesheet', type='text/css', media='all')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,600,700', rel='stylesheet', type='text/css')
    link(href='css/font-roboto.css', rel='stylesheet', type='text/css')
    
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5M864QM');
    
    // Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43203720-4', 'auto');
      ga('send', 'pageview');
  body.scroll-assist
    header
        .nav_bar
            .nav-container
                  nav.scrolled
                    .nav-bar.text-center
                        .col-md-2.col-md-push-5.on_top
                            .col-sm-12.text-center
                                a.inner-link(href='#top_cover')
                                    img#plane_logo(alt='Horizon Plane Logo', src='img/logo_dark.png')
                        .col-sm-12.col-md-5.col-md-pull-2.overflow-hidden-xs.nav_bar_open.menu_list
                            ul.menu.inline-block.pull-right
                                li
                                    a.inner-link#top_link(href='#about') ABOUT
                                li
                                    a.inner-link(href='#the_hack') THE HACKATHON
                                li
                                    a.inner-link(href='#apply') APPLICATIONS

                        .col-sm-12.col-md-5.pb-xs-24.nav_bar_open.menu_list
                            ul.menu
                                li 
                                    a.inner-link(href='traveltechtuesdays.html') OUR COMMUNITY
                                li
                                    a.inner-link(href='runwayrundown.html') INDUSTRY INSIGHTS
                                li
                                    a.inner-link(href='#team') CONTACT US
                        .col-md-4.col-md-offset-4#social_nav
                            ul.list-inline.social-list
                                li
                                    a(href='mailto:team@hackhorizon.com')
                                        i.ti.ti-email.icon-sm
                                li
                                    a(href='https://www.facebook.com/hackhorizon', target='_blank')
                                        i.ti-facebook.icon-sm
                                li
                                    a(href='https://www.twitter.com/hackhorizon', target='_blank')
                                        i.ti-twitter-alt.icon-sm
                                li
                                    a(href='https://www.linkedin.com/company/hack-horizon', target='_blank')
                                        i.ti-linkedin.icon-sm
                    .module.widget-handle.mobile-toggle.right.visible-sm.visible-xs.absolute-xs.on_top
                        i.ti-menu

    
    .main_container
        section#top_cover.cover.in-page-link
                .container.diagonal_up
                    .row
                        .logo_cover.col-md-8
                            img#plane(alt='Horizon Logo', src='img/plane.png')
                            img#title_logo(alt='Horizon - Discover. Build. Soar.', src='img/logo_white.png')

                        h2#tagline.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
                            | Join 32 of the best entrepreneurs, engineers and designers in a unique hackathon on a plane, as they journey from Hong Kong to London on a mission to redefine TravelTech and reframe the entire industry.
                        .cover_links.modal-container
                            .col-md-6
                                a#apply_button.btn.btn-lg.inner-link.col-md-7.col-md-offset-4(href='#CTA') APPLY TO PARTICIPATE
                            .col-md-6    
                                a.btn.btn-lg.inner-link.col-md-7.col-md-offset-1.typeform-share.link(href='https://hackhorizon.typeform.com/to/BJ7Nus' target='_blank') PARTNER WITH US


        section#about.in-page-link.section_padding
            .container
                .row
                    .col-md-12.text-center
                        h1
                            | The First of Its Kind
                        h2
                            | build. discover. soar.
                .row
                    .col-md-7.col-sm-12 
                        p
                            | Hack Horizon will break down the barriers created between industries and countries to build opportunities and enable collaboration between two of the largest and most powerful startup ecosystems in the world.
                            br
                            br
                            | Design Thinking will unlock consumer facing innovation, as the teams are able to interview and empathise with real life, traveling customers during the event. While, strategic partnerships across 5 key pillars in international travel will give us the rich insights, data and technology we need to build innovative new products and services for the industry.
                            br
                            br
                            | Horizon will also bring on board a range of technology partners who will work with us across the entire travel industry to give the teams the software, data, API’s and insights they will need to build robust TravelTech prototypes.
                    .col-md-5.col-sm-12
                        img#verticals(alt="The verticals in travel" src="img/verticals.png")
        
        section.divider
            #wingtip_divider
                .diagonal_down
                    .diagonal_up
        
        section#the_hack.in-page-link.section_padding
            .container
                .row
                    h1.col-md-8.col-md-offset-2.text-center The Journey

                .row
                    .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border

                    p.col-md-8.col-md-offset-2#HK_LDN 
                        | Horizon will help unite the Hong Kong and London startup ecosystems, while showcasing Hong Kong as a worthy home of innovation, talent and tech in the global landscape.
                    .clearfix
                   
                    .col-md-4 
                        h2 Ideation
                        p 
                            |  By bringing together leading industry experts, participants will have the exclusive opportunity to build a holistic understanding of the travel industry.
                    .col-md-4 
                        h2 Research
                        p 
                            | To truly understand the challenges they are trying to address, participants will be able to directly interact with their customers at the Hong Kong International Airport. 
                    .col-md-4 
                        h2 Prototyping
                        p 
                            | By experiencing the same journey and process as a typical traveler, participants will be able to empathise with and discover the problems at the heart of international travel.

                    img#journey.col-md-10.col-md-offset-1(alt="The Horizon Jounrey" src="img/journey.png")

                    .col-md-4.col-md-offset-2 
                        h2 Validation
                        p 
                            | Unlike other hackathons where products are built in a vacuum, participants will get the chance to test and validate their prototypes with real potential customers at Heathrow Airport.
                     .col-md-4 
                        h2 Pitch
                        p 
                            | Participants will have the opportunity 
                            br
                            | to pitch in front of industry experts at London’s new TravelTech co-working space.
        
        section.divider
            #passenger_divider
                .diagonal_down
                    .diagonal_up

        section#apply.in-page-link.section_padding
            .container
                .row
                    h1.col-md-12.text-center
                        | Jump On-board

                .row 
                    #the_process
                        .col-md-12
                            img.process_image(alt="The Application Process" src="img/the_process.png")
   
                        .col-md-12.text-center                            
                            .process_copy.col-md-4
                                h2 Apply
                                p 
                                    |  We are looking for the most creative, talented and driven individuals to join us on this experience. As such, applicants will be put through a rigorous multi-stage application process.
                            .process_copy.col-md-4
                                h2 Interview
                                p 
                                    | In an aim to build a genuine community, interviews will help us go beyond talent and select applicants with the motivation, passion and ambition that will be paramount in order to create our community and an enjoyable onboard experience.
                            .process_copy.col-md-4
                                h2 Fly 
                                p 
                                    | Only the top 32 applicants will be selected to join this one of a kind journey and will form the heart of the Hack Horizon community.               
                    .clearfix
                .row
                    #the_numbers
                        .col-md-3
                            h1
                                | 10000
                            h5
                                | KILOMETERS
                        .col-md-3
                            h1
                                | 80
                            h5
                                | HOURS
                        .col-md-3
                            h1
                                | 32
                            h5
                                | PARTICIPANTS 
                        .col-md-3
                  
                          h1
                                | 2
                            h5
                                | CONTINENTS

        section#CTA.in-page-link.section_padding
            .container
                .row
                    .col-md-12.col-sm-12.text-center
                        h1
                            |Horizon Applications
                            br
                            span
                                | Open This Autumn
                .row
                    .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border
                .row
                    .col-md-8.col-md-offset-2.text-center        
                        p
                            | Join the 3000 strong community, receive industry digests on the latest trends in TravelTech and be the first to hear when applications open.

                .row#sign_up_form
                    .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
                        form.form-newsletter(data-success='Thanks for signing up! We will send you an email to confirm shortly.', data-error='Please provide a valid email address.')
                            input.mb0.transparent.validate-email.validate-required.signup-email-field(type='text', name='email', placeholder='Email Address')
                            button.btn-white.mb0(type='submit') Keep Me Posted
                            iframe.mail-list-form(srcdoc='<!-- Begin MailChimp Signup Form --> <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> <style type="text/css">     #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }   /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ </style> <div id="mc_embed_signup"> <form action="//hackhorizon.us14.list-manage.com/subscribe/post?u=dc998c584ca693456aadfab40&amp;id=c1cfe0b8c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>     <div id="mc_embed_signup_scroll">    <h2>Subscribe to our mailing list</h2> <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> <div class="mc-field-group">    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> </label>  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> </div> <div class="mc-field-group">    <label for="mce-FNAME">First Name </label>  <input type="text" value="" name="FNAME" class="" id="mce-FNAME"> </div> <div class="mc-field-group">   <label for="mce-LNAME">Last Name </label>   <input type="text" value="" name="LNAME" class="" id="mce-LNAME"> </div> <div class="mc-field-group">   <label for="mce-MMERGE3">Location </label>  <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3"> </div>    <div id="mce-responses" class="clear">      <div class="response" id="mce-error-response" style="display:none"></div>       <div class="response" id="mce-success-response" style="display:none"></div>     </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dc998c584ca693456aadfab40_c1cfe0b8c3" tabindex="-1" value=""></div>     <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>     </div> </form> </div> <script type=\'text/javascript\' src=\'//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js\'></script><script type=\'text/javascript\'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]=\'EMAIL\';ftypes[0]=\'email\';fnames[1]=\'FNAME\';ftypes[1]=\'text\';fnames[2]=\'LNAME\';ftypes[2]=\'text\';fnames[3]=\'MMERGE3\';ftypes[3]=\'text\';}(jQuery));var $mcj = jQuery.noConflict(true);</script> <!--End mc_embed_signup-->')



        section#partners.in-page-link.section_padding.arrow_down_reverse
            .container.partners
                .row
                    .col-sm-12.text-center
                        h1.uppercase
                            | Partners
                .row
                    .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border

                .row
                    .col-md-8.col-md-offset-2.text-center
                        p
                            | We work with a wide range of partners across Asia and Europe who help us engage startup communities, connect with industry leaders in  travel  and promote the TravelTech movement.
                .row
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://www.sita.aero/')
                                img(alt='Reaktor', src='img/logos/sita.png')
                                .title
                                    h5.uppercase.mb0 - Industry Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://www.mtr.com.hk/en/customer/tourist/index.php')
                                img(alt='MTR', src='img/logos/MTR.png')
                                .title
                                    h5.uppercase.mb0 - Industry Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://www.reaktor.aero/')
                                img(alt='Reaktor', src='img/logos/reaktor.png')
                                .title
                                    h5.uppercase.mb0 - Industry Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://nest.vc/')
                                img(alt='Nest VC', src='img/logos/nest.png')
                                .title
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://www.hkcocoon.org/en/space.aspx')
                                img(alt='CoCoon', src='img/logos/cocoon.png')
                                .title
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='https://generalassemb.ly/hong-kong')
                                img(alt='GA', src='img/logos/ga.png')
                                .title
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://brinc.io')
                                img(alt='Brinc', src='img/logos/brinc.png')
                                .title
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='https://www.whub.io/')
                                img(alt='WHub', src='img/logos/whub.png')
                                .title
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://www.meetup.com/IxDAHK/')
                                img(alt='IxDA Hong Kong', src='img/logos/IxDA.png')
                                .title
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://www.startupshk.com/')
                                img#startupshk(alt='Startups HK', src='img/logos/hkstartups.png')
                                .title    
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://paceventures.co/')
                                img(alt='Pace Ventures', src='img/logos/pace.png')
                                .title
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='https://www.klook.com/')
                                img(alt='Klook', src='img/logos/klook.png')
                                .title
                                    h5.uppercase.mb0 - Industry Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://ventriscapital.com/')
                                img(alt='Ventris', src='img/logos/ventris.png')
                                .title
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://www.traveltechlab.london/')
                                img(alt='Travel Tech Lab', src='img/logos/traveltechlab.png')
                                .title
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://metta.co/')
                                img(alt='Metta', src='img/logos/metta.png')
                                .title
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://www.londonandpartners.com/')
                                img(alt='London & Partners', src='img/logos/lnp.jpg')
                                .title
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://www.design-thinking.asia/')
                                img(alt='Design Thinking Asia', src='img/logos/dta.jpg')
                                .title
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://hk.bsdacademy.com/')
                                img(alt='BSD Academy', src='img/logos/bsd.png')
                                .title
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://passportx.co/')
                                img(alt='PassportX', src='img/logos/passportx.png')
                                .title
                                    h5.uppercase.mb0 - Industry Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://www.thewave.com.hk/')
                                img(alt='The Wave', src='img/logos/wave.png')
                                .title
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo.col-sm-offset-3
                        .image-tile.inner-title.hover-reveal.text-center
                            a(target='_blank', href='http://frescocapital.com/')
                                img(alt='Fresco Capital', src='img/logos/fresco.png')
                                .title
                                    h5.uppercase.mb0 - Ecosystem Partner -
                    .col-sm-3.col-xs-6.partner_logo
                        .image-tile.inner-title.hover-reveal.text-center
                            a#Partner_With_Us(target='_blank', href='https://hackhorizon.typeform.com/to/BJ7Nus') Partner With Us
                                .title
                                    h5#partner_plus.uppercase.mb0 + + +


        section.in-page-link#community.bg-secondary.diagonal_down
            .container
                .row
                    .col-md-10.col-md-offset-1.text-center
                        h1 
                            | Our Community
                .row
                    .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border
                .row    
                    .col-md-8.col-md-offset-2.text-center
                        p
                            | We are passionate and dedicated to making TravelTech a recognised technology vertical in the startup world and getting the established travel industry to embrace technology better.

                .row
                    .col-md-6.text-center
                        .col-md-12
                            .community_image
                                a(href='TravelTechTuesdays.html')
                                    img(alt='TravelTech Tuesdays', src='img/ttt.jpg')
                            .bg-white.description                                
                                p
                                    | To foster the local TravelTech ecosystems across Hong Kong and London, we are running monthly TravelTech Tuesdays panel discussions and meet-up events. We consistently attract 100+ attendees from across major travel companies, media, startups, students and the general public.
                                 a.btn.btn-lg(href='traveltechtuesdays.html') Find Out More
                    .col-md-6.text-center
                        .col-md-12
                            .community_image
                                a(href='runwayrundown.html')
                                  img(alt='Runway Rundown', src='img/rr.jpg')
                            .bg-white.description                     
                                p
                                    | We curate the biggest stories in Travel, showcase the most disruptive startups and discuss the latest trends in the space through our bi-weekly newsletter. Our Runway Rundown Reports now reaches 3,000+ people across the globe.       
                                a.btn.btn-lg(href='runwayrundown.html') Find Out More

        //- section#community.in-page-link.section_padding.bg-secondary
        //-     .container
        //-         .row
        //-             .col-sm-12.text-center
        //-                 h1.uppercase
        //-                     | Discover Our Community
        //-                 h2
        //-                     | #TravelTechTuesdays
        //-         .row.masonry.masonryFlyIn
        //-             .col-md-4.col-xs-6.masonry-item.project
        //-                 img(alt='Pic', src='img/ttt/TTT2/ttt6.jpg')
        //-             .col-md-4.col-xs-6.masonry-item.project
        //-                 img(alt='Pic', src='img/ttt/TTT2/ttt3.jpg')
        //-             .col-md-4.col-xs-6.masonry-item.project
        //-                 img(alt='Pic', src='img/ttt/TTT2/ttt7.jpg')       
        //-             .col-md-4.col-xs-6.masonry-item.project
        //-                 img(alt='Pic', src='img/ttt/TTT2/ttt4.jpg')
        //-             .col-md-4.col-xs-6.masonry-item.project
        //-                 img(alt='Pic', src='img/ttt/ttt_logo.png') 
        //-             .col-md-4.col-xs-6.masonry-item.project
        //-                 img(alt='Pic', src='img/ttt/TTT2/ttt2.jpg')
        //-             .col-md-4.col-xs-6.masonry-item.project
        //-                 img(alt='Pic', src='img/ttt/TTT2/ttt1.jpg')

        //-         .row.text-center#ttt
        //-              .col-md-10.col-md-offset-1.col-sm-12
        //-                 p
        //-                     | TravelTech Tuesdays is a monthly meet-up to connect the rapidly growing TravelTech ecosystem in Hong Kong and encourage new connections, opportunities and collaborations in the space.
        //-             .col-md-8.col-md-offset-2.col-sm-12#ttt_details
        //-                 a#ttt_button.btn.btn-lg.inner-link(href='traveltechtuesdays.html') Find Out More
                   
                    

        section.divider#airport
            #airport_divider
                .diagonal_down


        section#advisors.in-page-link.section_padding
            .container
                .row
                    .col-md-12.text-center
                        h1.uppercase
                            | Our Advisors
                .row
                    .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border
                .row
                    .col-md-8.col-md-offset-2.text-center
                        p#advisors_description
                            | We have brought together inspiring influencers across the start-up and technology spaces in both London and Hong Kong to provide us with the specialised knowledge and insights that will make Horizon.

                .row.text-center                      
                    .col-md-2.col-md-offset-1.col-xs-6
                            img.mb32(alt='Manav Gupta', src='img/manav.jpg')
                            h4
                                | Manav Gupta
                            p
                                | Founder & CEO at Brinc.io
                            h4
                                span - Hong Kong -
                            .advisors_social_links
                                a(target='_blank', href='https://www.linkedin.com/in/manavg')
                                    i.ti.ti-linkedin  
                                a(target='_blank', href='https://twitter.com/manavg')
                                    i.ti-twitter-alt
                    .col-md-2.col-xs-6
                            img.mb32(alt='Will Ross', src='img/will.jpg')
                            h4
                                | Will Ross
                            p
                                | Partner at Nest VC
                            h4
                                span - Hong Kong -
                            .advisors_social_links
                                a(target='_blank', href='https://hk.linkedin.com/in/william-ross-a9923294')
                                    i.ti.ti-linkedin  
                    .clearfix.visible-xs-block
                    .col-md-2.col-xs-6
                            img.mb32(alt='Kristin Low', src='img/kristin.jpg')
                            h4
                                | Kristin Low

                            p
                                | Founder at Design Thinking Asia
                            h4
                                span - Hong Kong -
                            .advisors_social_links
                                a(target='_blank', href='https://hk.linkedin.com/in/kristindlow')
                                    i.ti.ti-linkedin  
                                a(target='_blank', href='https://twitter.com/kristinlow')
                                    i.ti-twitter-alt
                    .col-md-2.col-xs-6
                            img.mb32(alt='Jeffrey Broer', src='img/jeffrey.jpg')
                            h4
                                | Jeffrey Broer
                            p
                                | Co-Director at Founders Institute
                            h4
                                span - Hong Kong -
                            .advisors_social_links
                                a(target='_blank', href='https://hk.linkedin.com/in/jeffreybroer')
                                    i.ti.ti-linkedin  
                                a(target='_blank', href='https://twitter.com/jebbery')
                                    i.ti-twitter-alt
                    .col-md-2.col-xs-6
                            img.mb32(alt='Karena Belin', src='img/karena.jpg')
                            h4
                                | Karena Belin
                            p
                                | Co-Founder at WHub
                            h4
                                span - Hong Kong -
                            .advisors_social_links
                                a(target='_blank', href='https://hk.linkedin.com/in/karenabelin')
                                    i.ti.ti-linkedin  
                                a(target='_blank', href='https://twitter.com/BelinKarena')
                                    i.ti-twitter-alt
                    .clearfix.visible-md-block
                    .col-md-2.col-md-offset-1.col-xs-6
                            img.mb32(alt='Bennett Chen', src='img/bennett.jpg')
                            h4
                                | Bennett Chen
                            p
                                | Co-Founder at Travolor
                            h4
                                span - Hong Kong -
                            .advisors_social_links
                                a(target='_blank', href='https://hk.linkedin.com/in/bennettchen')
                                    i.ti.ti-linkedin  
                    .col-md-2.col-xs-6
                            img.mb32(alt='Tim Barnes', src='img/tim.jpg')
                            h4
                                | Tim Barnes
                            p
                                | Founder and Senior Deity at The Rain Gods
                            h4
                                span - London -
                            .advisors_social_links
                                a(target='_blank', href='https://uk.linkedin.com/in/timothyplbarnes')
                                    i.ti.ti-linkedin  
                                a(target='_blank', href='https://twitter.com/timothy_barnes')
                                    i.ti-twitter-alt
                    .col-md-2.col-xs-6
                            img.mb32(alt='Mustafa Khanbhai', src='img/mustafa.jpg')
                            h4
                                | Mustafa Khanbhai
                            p
                                | General Manager at Uber
                            h4
                                span - London -
                            .advisors_social_links
                                a(target='_blank', href='https://uk.linkedin.com/in/mustafakhanbhai')
                                    i.ti.ti-linkedin                            
                    .clearfix.visible-xs-block
                    .col-md-2.col-xs-6
                            img.mb32(alt='Paul Papadimitriou', src='img/paul.jpg')
                            h4
                                | Paul Papadimitriou 
                            p
                                | Founder & Innovation Strategy at Intelligencr

                            h4
                                span - London -
                            .advisors_social_links
                                a(target='_blank', href='https://uk.linkedin.com/in/paulpapadimitriou')
                                    i.ti.ti-linkedin  
                                a(target='_blank', href='https://twitter.com/papadimitriou')
                                    i.ti-twitter-alt                                
                    .col-md-2.col-xs-6
                            img.mb32(alt='Reijo Pold', src='img/reijo.jpg')
                            h4
                                | Reijo Pold
                            p
                                | Partner & Innovation Architect at Silk Ventures
                            h4
                                span - London -
                            .advisors_social_links
                                a(target='_blank', href='https://uk.linkedin.com/in/reijo-pold-彭-瑞-3b342b15')
                                    i.ti.ti-linkedin  
                                a(target='_blank', href='https://twitter.com/reiopold')
                                    i.ti-twitter-alt


        section#team.in-page-link.section_padding.bg-secondary
            .container
                .row
                    .col-md-12.text-center
                        h1.uppercase
                            | The Team
                .row
                    .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border
                .row
                    .col-md-8.col-md-offset-2.text-center
                        p
                            | We are a well-travelled team of entrepreneurial millennials who have decided to come together to use our previous experience from 40+ hackathons to challenge and change the travel industry.
                
                .row
                    .col-md-2.col-md-offset-1.col-xs-4
                        img.TeamPhoto(alt='Kristiyana Hart', src='img/kristy.jpg')
                        h4
                            | Kristy
                        .team_social_links
                            a(target='_blank', href='https://uk.linkedin.com/in/kristiyana-hart-803347a6')
                                i.ti.ti-linkedin  
                            a(target='_blank', href='https://twitter.com/kristiyana_hart')
                                i.ti-twitter-alt

                    .col-md-2.col-xs-4
                        img.TeamPhoto(alt='Johannes Jaeger', src='img/Johannes.jpg')
                        h4
                            | Johannes
                        .team_social_links
                            a(target='_blank', href='https://hk.linkedin.com/in/jaegerjohannes')
                                i.ti.ti-linkedin
                    
                    .col-md-2.col-xs-4
                        img.TeamPhoto(alt='Kostadin Kolev', src='img/kosta.jpg')
                        h4
                            | Kosta
                        .team_social_links
                            a(target='_blank', href='Public Profilehttps://uk.linkedin.com/in/kostadinkolev')
                                i.ti.ti-linkedin  
                            a(target='_blank', href='https://twitter.com/Kosta_kolev')
                                i.ti-twitter-alt

                    .col-md-2.col-xs-4
                        img.TeamPhoto(alt='Evan Tate', src='img/evan.jpg')
                        h4
                            | Evan
                        .team_social_links
                            a(target='_blank', href='https://hk.linkedin.com/in/evanmtate')
                                i.ti.ti-linkedin  
                            a(target='_blank', href='https://twitter.com/evantate')
                                i.ti-twitter-alt

                    .col-md-2.col-xs-4
                        img.TeamPhoto(alt='Sandra Sobańska', src='img/sandra.jpg')
                        h4
                            | Sandra
                        .team_social_links
                            a(target='_blank', href='https://sg.linkedin.com/in/sasobanska/en')
                                i.ti.ti-linkedin  
                            a(target='_blank', href='https://twitter.com/sandra_sobanska')
                                i.ti-twitter-alt

                .row
                    .col-md-4.col-md-offset-4.text-center    
                            a#contact_button.btn.btn-lg(href='mailto:team@hackhorizon.com' target='_blank') CONTACT US




        footer#footer.in-page-link.footer-2
            .container
                .row
                    .col-md-4.col-md-offset-4
                        ul.list-inline.social-list
                            li
                                a(href='mailto:team@hackhorizon.com')
                                    i.ti.ti-email.icon-sm
                            li
                                a(href='https://www.facebook.com/hackhorizon', target='_blank')
                                    i.ti-facebook.icon-sm
                            li
                                a(href='https://www.twitter.com/hackhorizon', target='_blank')
                                    i.ti-twitter-alt.icon-sm
                            li
                                a(href='https://www.linkedin.com/company/hack-horizon', target='_blank')
                                    i.ti-linkedin.icon-sm

                .row
                    .col-md-6.col-md-offset-3
                        a(href='#about')
                            img.image-xs.in-page-link(alt='Horizon Logo', src='img/logo_dark.png')
                .row
                    .col-md-6.col-md-offset-3
                        span
                           | © Copyright 2016 Xpresso Labs Limited - All Rights Reserved                

    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5M864QM', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/flexslider.min.js')
    script(src='js/masonry.min.js')    
    script(src='js/smooth-scroll.min.js')
    script(src='js/parallax.min.js')
    script(src='js/scripts.js')
    script(src='js/custom.js')