doctype html
html(lang='en')
  head
    title Hack Horizon - TravelTech hackathon on a plane from Hong Kong to London.
    meta(charset='utf-8')
    // Open Graph Meta-Tags
    meta(property='og:title', content=' Hack Horizon - TravelTech hackathon on a plane from Hong Kong to London.')
    meta(property='og:site_name', content='Hack Horizon')
    meta(property='og:url', content='http://www.hackhorizon.com')
    meta(property='og:description', content='Take to the skies and join 32 of the best entrepreneurs, engineers and designers for this unique hackathon on a plane, as you journey from Hong Kong to London on a mission to redefine TravelTech.')
    meta(property='og:type', content='website')
    meta(property='og:image', content='http://www.hackhorizon.com/img/plane_runway_meta.jpg')
    meta(name='description', content='Take to the skies and join 32 of the best entrepreneurs, engineers and designers for this unique hackathon on a plane, as you journey from Hong Kong to London on a mission to redefine TravelTech.')
    meta(name='author', content='Kostadin Kolev')
    link(rel='canonical', href='http://www.hackhorizon.com')

    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:url', content='http://www.hackhorizon.com')
    meta(name='twitter:title', content='Hack Horizon')
    meta(name='twitter:description', content='Take to the skies and join 32 of the best entrepreneurs, engineers and designers for this unique hackathon on a plane, as you journey from Hong Kong to London on a mission to redefine TravelTech.')
    meta(name='twitter:image', content='http://www.hackhorizon.com/img/plane_runway_meta.jpg')

    // LinkedIn Fix
    meta(prefix='og: http://ogp.me/ns#', property='og:title', content='Hack Horizon')
    meta(prefix='og: http://ogp.me/ns#', property='og:type', content='website')
    meta(prefix='og: http://ogp.me/ns#', property='og:image', content='http://www.hackhorizon.com/img/plane_runway_meta.jpg')
    meta(prefix='og: http://ogp.me/ns#', property='og:url', content='http://www.hackhorizon.com')    

    // Google  
    meta(name='google-site-verification', content='7b1NR2hkbM8tSikmIyOuY9KomX2mYdEgdR6punOeyzs')
    meta(name='google-site-verification', content='Eo4c7vHQRKVE4sOLhfu-dsiCqSdJgf1WzOLA8rTqN9s')

    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='css/pe-icon-7-stroke.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/et-line-icons.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/font-awesome.min.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/themify-icons.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/flexslider.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/theme.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/custom.css', rel='stylesheet', type='text/css', media='all')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,600,700', rel='stylesheet', type='text/css')
    link(href='css/font-roboto.css', rel='stylesheet', type='text/css')

    // Google Tag Manager
    script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5M864QM');
    // End Google Tag Manager

    // Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43203720-4', 'auto');
      ga('send', 'pageview');
  body.scroll-assist
    // Google Tag Manager (noscript)
    noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5M864QM', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)

    script.
        window.fbAsyncInit = function() {
        FB.init({
        appId: "APP_ID",
        xfbml: true,
        version: "v2.6"
        });
        };
        (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    script(type='application/ld+json').
        {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "Hack Horizon",
        "startDate" : "05-05-2017",
        "endDAte" : "08-05-2017",
        "url" : "http://www.hackhorizon.com/",
        "image" : "http://www.hackhorizon.com/img/plane_runway_meta.jpg",
        "description" : "A unique TravelTech hackathon taking place at 30,000 ft. on a public flight from Hong Kong to London.",
        "location" : {
        "@type" : "Place",
        "sameAs" : "http://www.hi-dive.com",
        "name" : "Hong Kong -",
        "address" : "London"
        }
        }


    //- .foundry_modal.image-bg.overlay.sign_up_popup.text-center(data-time-delay='10000', data-cookie="dismissed-mailchimp-signup-modal")

    //-     h1 
    //-         | Want to take part in 
    //-         br
    //-         | Hack Horizon? 
    //-     p
    //-         | We are opening applications for this crazy hackathon later this month and if you want to receive a special early bird invitation to apply before we take everything public,  leave us your email below.

    //-     #sign_up_form.col-sm-12
    //-             form.form-newsletter(data-success='Thanks for signing up! We will send you an email to confirm shortly.', data-error='Please provide a valid email address.')
    //-                 .col-md-7
    //-                     input.mb0.transparent.validate-email.validate-required.signup-email-field(type='text', name='email', placeholder='Email Address')
    //-                 .col-md-5
    //-                     button.btn-white.mb0(type='submit') Sign Me Up
    //-                     iframe.mail-list-form(srcdoc='<!-- Begin MailChimp Signup Form --> <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> <style type="text/css">     #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }   /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ </style> <div id="mc_embed_signup"> <form action="//hackhorizon.us14.list-manage.com/subscribe/post?u=dc998c584ca693456aadfab40&amp;id=6afb21233c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>     <div id="mc_embed_signup_scroll">    <h2>Subscribe to our mailing list</h2> <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> <div class="mc-field-group">    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> </label>  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> </div> <div class="mc-field-group">    <label for="mce-FNAME">First Name </label>  <input type="text" value="" name="FNAME" class="" id="mce-FNAME"> </div> <div class="mc-field-group">   <label for="mce-LNAME">Last Name </label>   <input type="text" value="" name="LNAME" class="" id="mce-LNAME"> </div> <div class="mc-field-group">   <label for="mce-MMERGE3">Location </label>  <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3"> </div>    <div id="mce-responses" class="clear">      <div class="response" id="mce-error-response" style="display:none"></div>       <div class="response" id="mce-success-response" style="display:none"></div>     </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dc998c584ca693456aadfab40_c1cfe0b8c3" tabindex="-1" value=""></div>     <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>     </div> </form> </div> <script type=\'text/javascript\' src=\'//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js\'></script><script type=\'text/javascript\'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]=\'EMAIL\';ftypes[0]=\'email\';fnames[1]=\'FNAME\';ftypes[1]=\'text\';fnames[2]=\'LNAME\';ftypes[2]=\'text\';fnames[3]=\'MMERGE3\';ftypes[3]=\'text\';}(jQuery));var $mcj = jQuery.noConflict(true);</script> <!--End mc_embed_signup-->')

    .main_container
        header
            .nav_bar
                .nav-container
                      nav.scrolled
                        .nav-bar.text-center
                            .col-md-2.col-md-push-5.on_top
                                .col-sm-12.text-center
                                    a.inner-link(href='#top_cover')
                                        img#plane_logo(alt='Horizon Plane Logo', src='img/logo_dark.png')
                            .col-sm-12.col-md-5.col-md-pull-2.overflow-hidden-xs.nav_bar_open.menu_list
                                ul.menu.inline-block.pull-right
                                    li
                                        a.inner-link#top_link(href='#about') THE HACKATHON
                                    li
                                        a.inner-link(href='#Final32') Participants
                                    li
                                        a.inner-link(href='#partners') PARTNERS

                            .col-sm-12.col-md-5.pb-xs-24.nav_bar_open.menu_list
                                ul.menu
                                    li 
                                        a(href='FAQs.html') FAQS
                                    li
                                        a(href='runwayrundown.html') Industry INSIGHTS
                                    li
                                        a.inner-link(href='#team') CONTACT US
                            .col-md-4.col-md-offset-4#social_nav
                                ul.list-inline.social-list
                                    li
                                        a(href='mailto:team@hackhorizon.com')
                                            i.ti.ti-email.icon-sm
                                    li
                                        a(href='https://www.facebook.com/hackhorizon', target='_blank')
                                            i.ti-facebook.icon-sm
                                    li
                                        a(href='https://www.twitter.com/hackhorizon', target='_blank')
                                            i.ti-twitter-alt.icon-sm
                                    li
                                        a(href='https://www.linkedin.com/company/hack-horizon', target='_blank')
                                            i.ti-linkedin.icon-sm
                        .module.widget-handle.mobile-toggle.right.visible-sm.visible-xs.absolute-xs.on_top
                            i.ti-menu
        section#top_cover.cover.in-page-link
                .container.diagonal_up
                    .row
                        .col-md-8.logo_cover
                            img#plane(alt='Horizon Logo', src='img/plane.png')
                            img#title_logo(alt='Horizon - Discover. Build. Soar.', src='img/logo_white.png')
                    .row
                        .col-md-4.col-md-offset-4.col-xs-8.col-xs-offset-2
                            .cover_links                            
                                h3 
                                    | May 5
                                    sup th    
                                    |   - 8
                                    sup th 
                                    | 2017    
                    .row
                        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
                            h2#tagline
                                | 32 of the best entrepreneurs, engineers and designers will take to the skies on a mission to redefine TravelTech, in a unique hackathon on a plane from Hong Kong to London.


                                                
                            //- .col-md-4.col-md-offset-4.col-xs-8.col-xs-offset-2
                        
                            //-     a#apply_button_cover.btn.btn-lg(target="_blank" href='https://www.f6s.com/hackhorizonround1/apply')
                            //-         | Applications 
                            //-         br
                            //-         | Closed

        section#about.in-page-link.section_padding
            .container
                .row
                    .col-md-12.text-center
                        h1
                            | What is Hack Horizon
                        //- h2
                        //-     | Build. Discover. Soar.
                .row
                    .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2.about_border

                .row.v-align-children                
                    .col-md-6
                        //- h3 Design that looks less 'theme' and more you.
                        p
                           | On 5th May, 32 talented entrepreneurs, engineers and designers will embark on a unique hackathon with only 3 days and one flight from Hong Kong to London to build new products that can make travel simpler, safer, cheaper and way more fun.
                           br
                           br
                           | Unlike other hackathons, Hack Horizon will completely immerse them in the travel experience and give them access to real life customers to test their assumptions right off the bat. What’s more is, that they will be granted special access to some of the best travel technologies and APIs out there as well as have the support and mentorship of leading industry experts.
                           br
                           br
                           | So jump on board and follow them on this once in a lifetime, adrenaline-fueled travel experience.

                    .col-md-6.text-center.mb-xs-24.FB_video
                        iframe(src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fhackhorizon%2Fvideos%2F420542861624820%2F&show_text=0&width=560', width='560', height='315', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true', allowfullscreen='true')
            
                        .col-md-12.col-sm-12
                            #the_numbers
                                .col-md-6.col-sm-6.col-xs-6
                                    h1
                                        | 10000
                                    h5
                                        | KILOMETERS
                                .col-md-6.col-sm-6.col-xs-6
                                    h1
                                        | 80
                                    h5
                                        | HOURS
                                .col-md-6.col-sm-6.col-xs-6
                                    h1
                                        | 32
                                    h5
                                        | PARTICIPANTS 
                                .col-md-6.col-sm-6.col-xs-6              
                                    h1
                                        | 2
                                    h5
                                        | CONTINENTS
                .row
                    .col-md-12
                        h3.uppercase_prizes
                            | As Featured In
                .row#press_coverage.text-center
                    .col-md-3.col-xs-3
                         a(target='_blank' href='https://www.forbes.com/sites/joeescobedo/2017/03/17/this-23-year-old-created-the-worlds-first-hackathon-40000-feet-in-the-sky/#493f0d5720b4')
                                    img(alt='Forbes Article', src='img/logos/forbes.jpg')                
                    .col-md-3.col-xs-3
                         a(target='_blank' href='http://www.webintravel.com/hack-horizon-applications-hackathon-plane/')
                                    img(alt='WIT Article', src='img/logos/wit.png')
                    .col-md-3.col-xs-3
                         a(target='_blank' href='https://www.travhq.com/industry/spotlight/apply-hack-horizon-change-future-travel-tech/')
                                    img(alt='TravHQ Article', src='img/logos/travhq.jpg')
                    .col-md-3.col-xs-3
                         a(target='_blank' href='http://www.travolution.com/articles/102135/big-interview-hack-horizon-will-highlight-how-innovation-is-coming-from-the-east')
                                    img(alt='Travolution Article', src='img/logos/travolution.png')
        
        section.divider
            #wingtip_divider
                .diagonal_down
                    .diagonal_up
        
        section#the_hack.in-page-link.section_padding
            .container
                .row
                    h1.col-md-8.col-md-offset-2.text-center The Hackathon

                .row
                    .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2.about_border

                .row
                    p.col-md-8.col-md-offset-2#HK_LDN 
                        | Hack Horizon will help unite the Hong Kong and London startup ecosystems, while showcasing Hong Kong as a worthy home of innovation, talent and tech in the global landscape.
                
                h2 Day 1 | Hong Kong  
                .row.journey    
                    .col-md-4.col-md-offset-1
                        img(alt='Hong Kong', src='img/thehack/hk.jpg')
                    
                    .col-md-5.left
                        h3 Hackathon Kick Off
                        p
                            | We will kick the hackathon off in Hong Kong on the first evening with a warm welcome by the team and key partners and sponsors. The participants will pitch ideas, form teams and begin developing and building their prototypes with the support of expert mentors from across the travel industry.

                .row.journey
                    .col-md-4.col-md-offset-2
                        img(alt='Hong Kong', src='img/thehack/hkexpress.jpg')

                    .col-md-5.left
                        h3 HK Airport Express
                        p
                            | We will close off the day speeding towards Hong Kong International Airport on the Hong Kong Airport Express and set up camp at an airport hotel to get some rest before the flight on Day 2.

                h2 Day 2 | The Airport + Flight
                .row.journey                    
                    .col-md-5.col-md-offset-2.right
                        h3 Hong Kong International
                        p
                            | On Day 2, we will head to Hong Kong International Airport, where we will get a behind the scenes tour of how the airport operates and participants will have the chance to do some customer testing and validation with real passengers.

                    .col-md-4
                        img(alt='Hong Kong', src='img/thehack/airport.jpg')

                .row.journey                    
                    .col-md-5.col-md-offset-1.right
                        h3 The flight
                        p
                            | In the evening we will board the British Airways flight on an A380 from Hong Kong to London where the participants will consolidate everything they've learned at the airport, and get some well deserved rest.

                    .col-md-4
                        img(alt='Hong Kong', src='img/thehack/flight.jpg')

                h2 Day 3 & 4 | The Airport + London
                .row.journey    
                    .col-md-4.col-md-offset-1
                        img(alt='Hong Kong', src='img/thehack/heathrow.jpg')
                    
                    .col-md-5.left
                        h3 Heathrow Airport
                        p
                            | We land at London Heathrow Airport early in the morning where the participants will set up and have another opportunity to do customer validation with passengers. At lunchtime we will head into London on the Heathrow Express.

                .row.journey
                    .col-md-4.col-md-offset-2
                        img(alt='Hong Kong', src='img/thehack/ttlab.jpg')

                    .col-md-5.left
                        h3 TravelTech Lab
                        p
                            | We will spend the afternoon and evening working from London's TravelTech Lab where a range of mentors will come down to give feedback and support participants in the final stage of developing their prototypes.
                                    

        section#judges.in-page-link.section_padding.bg-secondary.black_arrow_top
            .container
                .row
                    .col-md-12.text-center
                        h1.uppercase
                            | The Pitch
                .row
                    .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2.about_border
                .row
                    .col-md-8.col-md-offset-2.text-center
                        p
                            | We will end the hackathon at the iconic London Transport Museum in Covent Garden where we will be joined by a room of key decision makers and influencers in the travel industry, investors and media.
                            br
                            br
                            | The participants will have the incredible opportunity to present the prototypes and ideas they have developed and built over the 80-hour hackathon in front of an esteemed panel of judges.

                .row
                    .col-md-3.col-xs-6
                        a(target='_blank', href='https://twitter.com/airportretail')
                            img.JudgePhoto(alt='Brian Collie', src='img/judges/brian.jpg')
                        h4
                            | Brian Collie
                        h5
                            | Angel Investor & Chairman of Flio

                    .col-md-3.col-xs-6
                        a(target='_blank', href='https://www.linkedin.com/in/chris-annetts-7629805/')
                            img.JudgePhoto(alt='Chris Annetts', src='img/judges/chris.jpg')
                        h4
                            | Chris Annetts
                        h5 
                            | Retail and Service Proposition Director at Heathrow Airport
                    
                    .col-md-3.col-xs-6
                        a(target='_blank', href='https://www.linkedin.com/in/glennmorgan/')
                            img.JudgePhoto(alt='Glenn Morgan', src='img/judges/glenn.jpg')
                        h4
                            | Glenn Morgan
                        h5 
                            | Head of Digital Business Transformation at IAG
                       
                    .col-md-3.col-xs-6
                        a(target='_blank', href='https://www.linkedin.com/in/henry-lane-fox-80ab2315/')
                            img.JudgePhoto(alt='Henry Lane Fox', src='img/judges/henry.jpg')
                        h4
                            | Henry Lane Fox
                        h5 
                            | CEO at Founders Factory

                    .clearfix.visible-xs-block.visible-sm-block.visible-md-block                      
                    .col-md-4.col-md-push-1.col-xs-6
                        a(target='_blank', href='https://www.linkedin.com/in/hkanji/')
                            img.JudgePhoto(alt='Hussein Kanji', src='img/judges/hussein.jpg')
                        h4
                            | Hussein Kanji
                        h5
                            | Principal Investor at Hoxton Ventures

                    .col-md-4.col-xs-6
                        a(target='_blank', href='https://www.linkedin.com/in/pipjamieson/')
                            img.JudgePhoto(alt='Pip Jamieson', src='img/judges/pip.jpg')
                        h4
                            | Pip Jamieson
                        h5
                            | CEO at The Dots Global

                    .clearfix.visible-xs-block
                    .col-md-4.col-md-pull-1.col-xs-6
                        a(target='_blank', href='https://www.linkedin.com/in/phildonathy/')
                            img.JudgePhoto(alt='Phil Donathy', src='img/judges/phil.jpg')
                        h4
                            | Phil Donathy
                        h5 
                            | VP of Product Management at Travelport

                .row.mt64.mb-xs-24
                    .col-sm-12.col-md-10.col-md-offset-1.text-center
                        h6.uppercase_prizes
                            | Ohh and there will be some great prizes too
                    .row
                        .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2.about_border
               
                .row#prizes.text-center
                    .col-md-3.col-sm-6.mb-xs-24
                        img.PrizePhoto(alt='BA Tickets', src='img/tickets.png')
                        h6.uppercase Round Trip Tickets
                        p
                            | The winning hackathon team will receive a set of round tickets to any British Airways destination, and continue their traveling and exploring. 

                    .col-md-3.col-sm-6.mb-xs-24
                        img.PrizePhoto(alt='Travel Tech', src='img/tech.png')
                        h6.uppercase Travel Gadgets
                        p
                            | The runners up of the hackathon will receive a selection of travel themed gadgets and accessories to help make their future adventures more fun and entertaining. 

                    .col-md-3.col-sm-6.mb-xs-24
                        img.PrizePhoto(alt='Pacsafe Luggage', src='img/lugage.png')
                        h6.uppercase Travel Luggage
                        p
                            | To keep all of our participants' tech safe and secure throughout the event, our friends at 
                            span 
                                a(target='_blank' href='http://www.pacsafe.com/') Pacsafe 
                            | are kitting us out with a selection of their smart travel gear.

                    .col-md-3.col-sm-6.mb-xs-24
                        img.PrizePhoto(alt='Startup Tools', src='img/tools.png')
                        h6.uppercase Startup Tools
                        p
                            | Courtesy of our friends at 
                            span 
                                a(target='_blank' href='https://www.wework.com/l/hong-kong') WeWork
                            |, 
                            span  
                                a(target='_blank' href='http://bit.ly/2oiKLD8') Voyager 
                            | and 
                            span 
                                a(target='_blank' href='https://aws.amazon.com/') AWS
                            |, all of our participants will receive tools and resources to help them continue to build out their products after the hackathon.             

        section#Final32.in-page-link.section_padding
            .container
                .row
                    .col-md-12.col-sm-12.text-center
                        h1
                            |The FINAL 32
                            br
                            //- span
                            //-     | NOW OPEN
                .row
                    .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2.about_border                

        section#participants.arrow_down_reverse.bg-dark
                .row.masonry-loader
                        .col-sm-12.text-center
                            .spinner

                    .row.masonry.masonryFlyIn.masonry_buffer
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/alexmlevin/')
                                    img(alt='Alex Levin', src='img/participants/alex.jpg')
                                    .title
                                        h5.uppercase.mb0 Alex Levin 
                                        //- span Design
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/alexchia ')
                                    img(alt='Alexander Chia', src='img/participants/alexander.jpg')
                                    .title
                                        h5.uppercase.mb0 Alexander Chia
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/ben-williamson-84b1694 ')
                                    img(alt='Pic', src='img/participants/ben.jpg')
                                    .title
                                        h5.uppercase.mb0 Ben Williamson
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/catalina-leung-2b33a41a')
                                    img(alt='Catalina Leung', src='img/participants/catalina.jpg')
                                    .title
                                        h5.uppercase.mb0 Catalina Leung
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/lamcedric')
                                    img(alt='Cedric Lam', src='img/participants/cedric.jpg')
                                    .title
                                        h5.uppercase.mb0 Cedric Lam
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/daphneelaforest/')
                                    img(alt='Daphnee Laforest Sabourin', src='img/participants/daphnee.jpg')
                                    .title
                                        h5.uppercase.mb0 Daphnee Laforest
                                        //- span Business
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/davidrhoades')
                                    img(alt='David Rhoades', src='img/participants/david.jpg')
                                    .title
                                        h5.uppercase.mb0 David Rhoades
                                        //- span Business
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/duaneharrison')
                                    img(alt='Duane Harrison', src='img/participants/duane.jpg')
                                    .title
                                        h5.uppercase.mb0 Duane Harrison
                                        //- span Design
                        
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/edmundto/ ')
                                    img(alt='Edmund To', src='img/participants/edmund.jpg')
                                    .title
                                        h5.uppercase.mb0 Edmund To
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/felipeschmitt')
                                    img(alt='Felipe Schmitt', src='img/participants/felipe.jpg')
                                    .title
                                        h5.uppercase.mb0 Felipe Schmitt
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/francis-pang-5569569b')
                                    img(alt='Francis Pang', src='img/participants/francis.jpg')
                                    .title
                                        h5.uppercase.mb0 Francis Pang
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/genehong78 ')
                                    img(alt='Gene Hong', src='img/participants/gene.jpg')
                                    .title
                                        h5.uppercase.mb0 Gene Hong
                                        //- span Design
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/irraariellakhi')
                                    img(alt='Irra Ariella Khi', src='img/participants/irra.jpg')
                                    .title
                                        h5.uppercase.mb0 Irra Ariella Khi
                                        //- span Business
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/jeff-pan-baa61365')
                                    img(alt='Jeff Pan', src='img/participants/jeff.jpg')
                                    .title
                                        h5.uppercase.mb0 Jeff Pan
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/jennyshen1')
                                    img(alt='Jenny Shen', src='img/participants/jenny.jpg')
                                    .title
                                        h5.uppercase.mb0 Jenny Shen
                                        //- span Design
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/jessica-pang/')
                                    img(alt='Jessica Pang', src='img/participants/jessica.jpg')
                                    .title
                                        h5.uppercase.mb0 Jessica Pang
                                        //- span Design
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.kcoleman.me/')
                                    img(alt='Kevin Coleman', src='img/participants/kevin.jpg')
                                    .title
                                        h5.uppercase.mb0 Kevin Coleman
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/liamgilligan')
                                    img(alt='Liam Gilligan', src='img/participants/liam.jpg')
                                    .title
                                        h5.uppercase.mb0 Liam Gilligan
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/norman-kk-ng-38346127/ ')
                                    img(alt='Norman Ng', src='img/participants/kk.jpg')
                                    .title
                                        h5.uppercase.mb0 Norman Ng
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/pub/krzysztof-machowski/2b/896/1b8')
                                    img(alt='Kris Machowski ', src='img/participants/kris.jpg')
                                    .title
                                        h5.uppercase.mb0 Kris Machowski 
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/marcin-bury-057a6656/ ')
                                    img(alt='Marcin Bury', src='img/participants/marcin.jpg')
                                    .title
                                        h5.uppercase.mb0 Marcin Bury
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/navidnathoo ')
                                    img(alt='Navid Nathoo', src='img/participants/navid.jpg')
                                    .title
                                        h5.uppercase.mb0 Navid Nathoo
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/nyceane ')
                                    img(alt='Peter Ma', src='img/participants/peter.jpg')
                                    .title
                                        h5.uppercase.mb0 Peter Ma
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://linkedin.com/in/phillipchao ')
                                    img(alt='Phillip Chao', src='img/participants/phillip.jpg')
                                    .title
                                        h5.uppercase.mb0 Phillip Chao
                                        //- span Design
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/riccardovittoria')
                                    img(alt='Riccardo Vittoria', src='img/participants/riccardo.jpg')
                                    .title
                                        h5.uppercase.mb0 Riccardo Vittoria
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://hk.linkedin.com/in/romainaubert ')
                                    img(alt='Romain Aubert', src='img/participants/romain.jpg')
                                    .title
                                        h5.uppercase.mb0 Romain Aubert
                                        //- span Business
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/savco/')
                                    img(alt='Savalas Colbert', src='img/participants/savalas.jpg')
                                    .title
                                        h5.uppercase.mb0 Savalas Colbert
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/shin-chong/ ')
                                    img(alt='Shin Chong', src='img/participants/shin.jpg')
                                    .title
                                        h5.uppercase.mb0 Shin Chong
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/timwr')
                                    img(alt='Tim Wright', src='img/participants/tim.jpg')
                                    .title
                                        h5.uppercase.mb0 Tim Wright
                                        //- span Software Development
                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/weiningg ')
                                    img(alt='Weining Guan', src='img/participants/weining.jpg')
                                    .title
                                        h5.uppercase.mb0 Weining Guan
                                        //- span Design
                        .col-md-2.col-md-offset-4.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://linkedin.com/in/yannick-silva-09a8a51 ')
                                    img(alt='Yannick Silva', src='img/participants/yannick.jpg')
                                    .title
                                        h5.uppercase.mb0 Yannick Silva
                                        //- span Software Development

                        .col-md-2.col-xs-3.masonry-item.project
                            .image-tile.inner-title.hover-reveal.text-center
                                a(target='_blank' href='https://www.linkedin.com/in/zyrianchung/')
                                    img(alt='Zyrian Chung', src='img/participants/zyrian.jpg')
                                    .title
                                        h5.uppercase.mb0 Zyrian Chung
                                        //- span Software Development

        
        section.pt64.pb64.pt-xs-40.pb-xs-40.tweet_feed
           .container
               .row
                   .col-md-10.col-md-offset-1.text-center
                        a#tweet_bird(target="_blank" href='https://twitter.com/hackhorizon')
                            i.ti-twitter-alt.icon.icon-lg.mb40.mb-xs-24
                        .twitter-feed.tweets-slider.large
                            .tweets-feed(data-feed-name='hackhorizon')




        section#partners.in-page-link.section_padding.black_arrow_bottom
            .container.partners
                .row
                    .col-sm-12.text-center
                        h1.uppercase
                            | Partners
                .row
                    .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2.about_border

                .row
                    .col-md-8.col-md-offset-2.text-center
                        p
                            | We work with a wide range of partners across Asia and Europe who help us engage startup communities, connect with industry leaders in  travel  and promote the TravelTech movement.
                .row
                    .col-sm-6.col-sm-offset-3
                        h2 Airline Partner
                .row
                    .col-sm-6.col-sm-offset-3.partner_logo.airline
                        a(target='_blank', href='https://www.britishairways.com/')
                            img(alt='British Airways', src='img/logos/BA.png')

                .row
                    .col-sm-6.col-sm-offset-3
                        h2 Gold Sponsors
                .row               
                    .col-md-4.col-xs-6.partner_logo.gold
                        a(target='_blank', href='http://www.heathrow.com/')
                            img(alt='Heathrow Airport', src='img/logos/Heathrow.png')
                    .col-md-4.col-xs-6.partner_logo.gold
                        a(target='_blank', href='http://www.hongkongairport.com/eng/index.html')
                            img(alt='HKAA', src='img/logos/HKAA.png')
                    .col-md-4.col-xs-6.partner_logo.gold
                        a(target='_blank', href='https://www.travelport.com/labs')
                            img(alt='Travelport', src='img/logos/travelport.png')
                
                .row
                    .col-sm-6.col-xs-12
                        h2 Bronze Sponsors
                        .col-sm-6.col-xs-6.partner_logo.industry
                            a(target='_blank', href='https://www.wework.com/')
                                img(alt='We Work', src='img/logos/wework.png')
                        .col-sm-6.col-xs-6.partner_logo.industry
                            a(target='_blank', href='https://www.skyscanner.net/')
                                img(alt='Skyscanner', src='img/logos/skyscanner.png')

                    .col-sm-6.col-xs-12
                        h2 Prize Sponsors

                        .col-sm-6.col-xs-6.partner_logo.education
                            a(target='_blank', href='http://www.pacsafe.com/')
                                img(alt='Pacsafe', src='img/logos/pacsafe.png')
                        .col-sm-6.col-xs-6.partner_logo.education
                            a(target='_blank', href='https://www.voyagerhq.com/')
                                img(alt='Voyager', src='img/logos/voyager.png')


                .row
                    .col-sm-6.col-sm-offset-3
                        h2 Industry Partners
                .row
                    .col-sm-10.col-sm-offset-1
                        .col-sm-4.col-xs-6.partner_logo.industry
                            a(target='_blank', href='http://www.mtr.com.hk/en/customer/tourist/index.php')
                                img(alt='MTR', src='img/logos/MTR.png')

                        .col-sm-4.col-xs-6.partner_logo.industry
                            a(target='_blank', href='https://tfl.gov.uk/')
                                img(alt='Transport for London', src='img/logos/tfl.png')

                        .col-sm-4.col-xs-6.partner_logo.industry
                            a(target='_blank', href='http://www.sita.aero/')
                                img(alt='SITA', src='img/logos/sita.png')

                .row
                    .col-sm-6.col-xs-12
                        h2 Education Partner

                        .col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2.partner_logo.education
                            a(target='_blank', href='http://www.bm.ust.hk/')
                                img(alt='HKUST', src='img/logos/hkust.png')
                    .col-sm-6.col-xs-12
                        h2 Accommodation Partner                  

                        .col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2.partner_logo.education
                            a(target='_blank', href='https://www.regalhotel.com/regal-hongkong-hotel/en/home/home.html')
                                img(alt='Regal Hotels', src='img/logos/regal.png')

                .row
                    .col-sm-6.col-sm-offset-3
                        h2 Media Partners
                .row                                    
                    .col-sm-4.col-xs-6.partner_logo.media
                        a(target='_blank', href='http://www.travelweekly.co.uk/')
                            img(alt='Travel Weekly', src='img/logos/travelweekly.png')

                    .col-sm-4.col-xs-6.partner_logo.media
                        a(target='_blank', href='https://www.traveldatadaily.com/')
                            img(alt='Travel Data Daily', src='img/logos/tdd.png')

                    .col-sm-4.col-xs-6.partner_logo.media
                        a(target='_blank', href='http://www.travolution.com/')
                            img(alt='Travolution', src='img/logos/travolution.png')
                    .col-sm-4.col-sm-offset-2.col-xs-6.partner_logo.media
                        a(target='_blank', href='http://www.webintravel.com/')
                            img(alt='Web In Travel', src='img/logos/wit.png')

                    .col-sm-4.col-xs-6.partner_logo.media
                        a(target='_blank', href='https://www.travhq.com/')
                            img(alt='TravHQ', src='img/logos/travhq.jpg')                   
                .row
                    .col-sm-6.col-sm-offset-3
                        h2 Ecosystem Partners
                .row                      
                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://www.londonandpartners.com/')
                            img(alt='London & Partners', src='img/logos/lnp.jpg')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://www.traveltechlab.london/')
                            img(alt='Travel Tech Lab', src='img/logos/traveltechlab.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://www.eyeprogram.org/')
                            img(alt='Google EYE Program', src='img/logos/geye.png')
                    
                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='https://www.f6s.com/')
                            img(alt='F6S', src='img/logos/F6S.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://www.hkcocoon.org/en/space.aspx')
                            img(alt='CoCoon', src='img/logos/cocoon.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://nest.vc/')
                            img(alt='Nest VC', src='img/logos/nest.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='https://generalassemb.ly/hong-kong')
                            img(alt='GA', src='img/logos/ga.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://brinc.io')
                            img(alt='Brinc', src='img/logos/brinc.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='https://www.whub.io/')
                            img(alt='WHub', src='img/logos/whub.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://www.meetup.com/IxDAHK/')
                            img(alt='IxDA Hong Kong', src='img/logos/IxDA.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://www.startupshk.com/')
                            img#hkstartups(alt='Startups HK', src='img/logos/hkstartups.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://paceventures.co/')
                            img(alt='Pace Ventures', src='img/logos/pace.png')
                    
                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://ventriscapital.com/')
                            img(alt='Ventris', src='img/logos/ventris.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://metta.co/')
                            img(alt='Metta', src='img/logos/metta.png')
                    
                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://hk.bsdacademy.com/')
                            img(alt='BSD Academy', src='img/logos/bsd.png')
                    
                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='https://www.thewave.com.hk/')
                            img(alt='The Wave', src='img/logos/wave.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='https://travelmassive.com/')
                            img(alt='Travel Massive', src='img/logos/travelmassive.png')
                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://www.hktdc.com/en-buyer/')
                            img(alt='HKTDC', src='img/logos/hktdc.jpg')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='https://www.traveltechcon.com/')
                            img(alt='TravelTechCon', src='img/logos/TTC.jpg')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://www.papercliphk.com/')
                            img(alt='Paperclip HK', src='img/logos/paperclip.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='https://www.tgnglobal.com/')
                            img(alt='Tuspark Global Network', src='img/logos/tgn.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='https://twfhk.org/')
                            img(alt='The Womens Foundation', src='img/logos/twf.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='https://www.startus.cc/')
                            img(alt='Startus', src='img/logos/startus.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='https://flyspaces.com')
                            img(alt='Fly Spaces', src='img/logos/flyspaces.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://www.hangar51.com/')
                            img(alt='Hangar 51', src='img/logos/hangar51.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://www.picentre.cuhk.edu.hk/')
                            img(alt='PI Centre', src='img/logos/pi.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='https://www.hkstp.org/en/index.aspx')
                            img(alt='HKSTP', src='img/logos/hkstp.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://www.investhk.gov.hk/index.html')
                            img(alt='InvestHK', src='img/logos/investhk.jpg')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://whatscall.cmcm.com/sho/promo?utm_source=6101')
                            img(alt='Whats Call', src='img/logos/whatscall.jpg')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='https://huel.com/')
                            img(alt='Huel', src='img/logos/huel.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://frescocapital.com/')
                            img(alt='Fresco Capital', src='img/logos/fresco.png')

                    .col-sm-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://www.design-thinking.asia/')
                            img(alt='Design Thinking Asia', src='img/logos/dta.png')

                    .col-sm-3.col-sm-offset-3.col-xs-4.partner_logo.partner
                        a(target='_blank', href='http://locuslabs.com/')
                            img(alt='Locus Labs', src='img/logos/locus.png')

                    .col-sm-3.col-xs-12.partner_logo.partner
                            a#Partner_With_Us(target='_blank', href='https://hackhorizon.typeform.com/to/BJ7Nus') Partner With Us


        //- section.in-page-link#community.bg-secondary.diagonal_down
        //-     .container
        //-         .row
        //-             .col-md-10.col-md-offset-1.text-center
        //-                 h1 
        //-                     | Industry Insights
        //-         .row
        //-             .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2.about_border
        //-         .row    
        //-             .col-md-8.col-md-offset-2.text-center
        //-                 p
        //-                     | We are passionate and dedicated to making TravelTech a recognised technology vertical in the startup world and getting the established travel industry to embrace technology better.

        //-         .row
        //-             //- .col-md-6.text-center
        //-             //-     .col-md-12
        //-             //-         .community_image
        //-             //-             a(href='traveltechtuesdays.html')
        //-             //-                 img(alt='TravelTech Tuesdays', src='img/ttt.jpg')
        //-             //-         .bg-white.description                                
        //-             //-             p
        //-             //-                 | To foster the local TravelTech ecosystems across Hong Kong and London, we are running monthly TravelTech Tuesdays panel discussions and meet-up events. We consistently attract 100+ attendees from across major travel companies, media, startups, students and the general public.
        //-             //-              a.btn.btn-lg(href='traveltechtuesdays.html') Find Out More
        //-             .col-md-4.col-md-offset-2.text-center
        //-                 .community_image
        //-                     a(href='runwayrundown.html')
        //-                       img(alt='Runway Rundown', src='img/rr.jpg')
        //-             .col-md-4
        //-                 .bg-white.description                     
        //-                     p
        //-                         | We have curated the biggest stories in Travel, showcased the most disruptive startups and discussed the latest trends in the travel industry through our 6 Runway Rundown Reports.       
        //-                     a.btn.btn-lg(href='runwayrundown.html') Find Out More

        //- section#advisors.in-page-link.section_padding.bg-secondary
        //-     .container
        //-         .row
        //-             .col-md-12.text-center
        //-                 h1.uppercase
        //-                     | Our Advisors
        //-         .row
        //-             .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2.about_border
        //-         .row
        //-             .col-md-8.col-md-offset-2.text-center
        //-                 p#advisors_description
        //-                     | We have brought together inspiring influencers across the travel, start-up and technology spaces in both London and Hong Kong to provide us with the specialised knowledge and insights that will make Hack Horizon even better.

        //-         .row.text-center                                          
        //-             .col-md-2.col-md-offset-1.col-xs-6
        //-                     img.mb32(alt='Will Ross', src='img/will.jpg')
        //-                     h4
        //-                         | Will Ross
        //-                     p
        //-                         | Partner at Nest VC
        //-                     h4
        //-                         span - Hong Kong -
        //-                     .advisors_social_links
        //-                         a(target='_blank', href='https://hk.linkedin.com/in/william-ross-a9923294')
        //-                             i.ti.ti-linkedin  
                    
        //-             .col-md-2.col-xs-6
        //-                     img.mb32(alt='Kristin Low', src='img/kristin.jpg')
        //-                     h4
        //-                         | Kristin Low

        //-                     p
        //-                         | Founder at Design Thinking Asia
        //-                     h4
        //-                         span - Hong Kong -
        //-                     .advisors_social_links
        //-                         a(target='_blank', href='https://hk.linkedin.com/in/kristindlow')
        //-                             i.ti.ti-linkedin  
        //-                         a(target='_blank', href='https://twitter.com/kristinlow')
        //-                             i.ti-twitter-alt
        //-             .clearfix.visible-xs-block
        //-             .col-md-2.col-xs-6
        //-                     img.mb32(alt='Jeffrey Broer', src='img/jeffrey.jpg')
        //-                     h4
        //-                         | Jeffrey Broer
        //-                     p
        //-                         | Co-Director at Founders Institute
        //-                     h4
        //-                         span - Hong Kong -
        //-                     .advisors_social_links
        //-                         a(target='_blank', href='https://hk.linkedin.com/in/jeffreybroer')
        //-                             i.ti.ti-linkedin  
        //-                         a(target='_blank', href='https://twitter.com/jebbery')
        //-                             i.ti-twitter-alt                    
        //-             .col-md-2.col-xs-6
        //-                     img.mb32(alt='Karena Belin', src='img/karena.jpg')
        //-                     h4
        //-                         | Karena Belin
        //-                     p
        //-                         | Co-Founder at WHub
        //-                     h4
        //-                         span - Hong Kong -
        //-                     .advisors_social_links
        //-                         a(target='_blank', href='https://hk.linkedin.com/in/karenabelin')
        //-                             i.ti.ti-linkedin  
        //-                         a(target='_blank', href='https://twitter.com/BelinKarena')
        //-                             i.ti-twitter-alt                    
        //-             .clearfix.visible-xs-block
        //-             .col-md-2.col-xs-6
        //-                     img.mb32(alt='Bennett Chen', src='img/bennett.jpg')
        //-                     h4
        //-                         | Bennett Chen
        //-                     p
        //-                         | Co-Founder at Travolor
        //-                     h4
        //-                         span - Hong Kong -
        //-                     .advisors_social_links
        //-                         a(target='_blank', href='https://hk.linkedin.com/in/bennettchen')
        //-                             i.ti.ti-linkedin  
        //-             .col-md-2.col-md-offset-1.col-xs-6
        //-                     img.mb32(alt='Mark Ross-Smith', src='img/mark.jpg')
        //-                     h4
        //-                         | Mark Ross- Smith
        //-                     p
        //-                         | Airline & Hotel Big Data Specialist
        //-                     h4
        //-                         span - Hong Kong -
        //-                     .advisors_social_links
        //-                         a(target='_blank', href='https://hk.linkedin.com/in/markrosssmith')
        //-                             i.ti.ti-linkedin  
        //-                         a(target='_blank', href='https://twitter.com/drdoot')
        //-                             i.ti-twitter-alt
        //-             .col-md-2.col-xs-6
        //-                     img.mb32(alt='Tim Barnes', src='img/tim.jpg')
        //-                     h4
        //-                         | Tim Barnes
        //-                     p
        //-                         | Founder and Senior Deity at The Rain Gods
        //-                     h4
        //-                         span - London -
        //-                     .advisors_social_links
        //-                         a(target='_blank', href='https://uk.linkedin.com/in/timothyplbarnes')
        //-                             i.ti.ti-linkedin  
        //-                         a(target='_blank', href='https://twitter.com/timothy_barnes')
        //-                             i.ti-twitter-alt
        //-             .col-md-2.col-xs-6
        //-                     img.mb32(alt='John Strickland', src='img/jls.jpg')
        //-                     h4
        //-                         | John Strickland
        //-                     p
        //-                         | Director JLS Consulting
        //-                     h4
        //-                         span - London -
        //-                     .advisors_social_links
        //-                         a(target='_blank', href='https://www.linkedin.com/in/jostrickland/')
        //-                             i.ti.ti-linkedin  
        //-                         a(target='_blank', href='https://twitter.com/JohnLStrickland')
        //-                             i.ti-twitter-alt                            
        //-             .clearfix.visible-xs-block
        //-             .col-md-2.col-xs-6
        //-                     img.mb32(alt='Paul Papadimitriou', src='img/paul.jpg')
        //-                     h4
        //-                         | Paul Papadimitriou 
        //-                     p
        //-                         | Founder & Innovation Strategy at Intelligencr

        //-                     h4
        //-                         span - London -
        //-                     .advisors_social_links
        //-                         a(target='_blank', href='https://uk.linkedin.com/in/paulpapadimitriou')
        //-                             i.ti.ti-linkedin  
        //-                         a(target='_blank', href='https://twitter.com/papadimitriou')
        //-                             i.ti-twitter-alt                                
        //-             .col-md-2.col-xs-6
        //-                     img.mb32(alt='Reijo Pold', src='img/reijo.jpg')
        //-                     h4
        //-                         | Reijo Pold
        //-                     p
        //-                         | Partner & Innovation Architect at Silk Ventures
        //-                     h4
        //-                         span - London -
        //-                     .advisors_social_links
        //-                         a(target='_blank', href='https://uk.linkedin.com/in/reijo-pold-彭-瑞-3b342b15')
        //-                             i.ti.ti-linkedin  
        //-                         a(target='_blank', href='https://twitter.com/reiopold')
        //-                             i.ti-twitter-alt


        //- section#team.in-page-link.section_padding.bg-secondary
        //-     .container
        //-         .row
        //-             .col-md-12.text-center
        //-                 h1.uppercase
        //-                     | The Team
        //-         .row
        //-             .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2.about_border
        //-         .row
        //-             .col-md-8.col-md-offset-2.text-center
        //-                 p
        //-                     | We are a well-travelled team of entrepreneurial millennials who have decided to come together to use our previous experience from 40+ hackathons to challenge and change the travel industry.
                
        //-         .row
        //-             .col-md-2.col-md-offset-2.col-xs-6
        //-                 img.TeamPhoto(alt='Kristiyana Hart', src='img/kristy.jpg')
        //-                 h4
        //-                     | Kristy
        //-                 .team_social_links
        //-                     a(target='_blank', href='https://uk.linkedin.com/in/kristiyana-hart-803347a6')
        //-                         i.ti.ti-linkedin  
        //-                     a(target='_blank', href='https://twitter.com/kristiyana_hart')
        //-                         i.ti-twitter-alt

        //-             .col-md-2.col-xs-6
        //-                 img.TeamPhoto(alt='Johannes Jaeger', src='img/Johannes.jpg')
        //-                 h4
        //-                     | Johannes
        //-                 .team_social_links
        //-                     a(target='_blank', href='https://hk.linkedin.com/in/jaegerjohannes')
        //-                         i.ti.ti-linkedin
                    
        //-             .col-md-2.col-xs-6
        //-                 img.TeamPhoto(alt='Kostadin Kolev', src='img/kosta.jpg')
        //-                 h4
        //-                     | Kosta
        //-                 .team_social_links
        //-                     a(target='_blank', href='https://uk.linkedin.com/in/kostadinkolev')
        //-                         i.ti.ti-linkedin  
        //-                     a(target='_blank', href='https://twitter.com/Kosta_kolev')
        //-                         i.ti-twitter-alt

        //-             .col-md-2.col-xs-6
        //-                 img.TeamPhoto(alt='Sandra Sobańska', src='img/sandra.jpg')
        //-                 h4
        //-                     | Sandra
        //-                 .team_social_links
        //-                     a(target='_blank', href='https://sg.linkedin.com/in/sasobanska/en')
        //-                         i.ti.ti-linkedin  
        //-                     a(target='_blank', href='https://twitter.com/sandra_sobanska')
        //-                         i.ti-twitter-alt

        //-         .row#contact_team_FB
        //-             //- .col-md-4.col-md-offset-4.text-center    
        //-             //-         a#contact_button.btn.btn-lg(href='mailto:team@hackhorizon.com' target='_blank') CONTACT US

        //-             .col-md-2.col-md-offset-5.text-center
        //-                 .fb-messengermessageus(messenger_app_id='113011915893233', page_id='256332318045876', color='blue', size='xlarge')

        section#take_off
            .white_arrow_up
                .container
                    .row
                        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.text-center
                            h3.uppercase 
                                | Getting Ready 
                                br
                                | Take-Off In
                            .countdown.mb48(data-date='2017/05/05')
                            p
                                | We are now just days away from take-off with Hack Horizon and if you want to get exclusive behind the scenes content and stories from the hackathon, sign up to our mailing list below.

                        .col-md-6.col-md-offset-3
                            form#sign_up_form.form-newsletter(data-success='Thanks for your submission, we will be in touch shortly.', data-error='Please fill all fields correctly.')
                                input.mb16.validate-required.validate-email.signup-email-field(type='text', placeholder='Email Address', name='email')
                                button.mb16(type='submit') SIGN ME UP
                                span  
                                iframe.mail-list-form(srcdoc='<!-- Begin MailChimp Signup Form --> <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> <style type="text/css">     #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }   /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ </style> <div id="mc_embed_signup"> <form action="//hackhorizon.us14.list-manage.com/subscribe/post?u=dc998c584ca693456aadfab40&amp;id=c1cfe0b8c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>     <div id="mc_embed_signup_scroll">    <h2>Subscribe to our mailing list</h2> <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> <div class="mc-field-group">    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> </label>  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> </div> <div class="mc-field-group">    <label for="mce-FNAME">First Name </label>  <input type="text" value="" name="FNAME" class="" id="mce-FNAME"> </div> <div class="mc-field-group">   <label for="mce-LNAME">Last Name </label>   <input type="text" value="" name="LNAME" class="" id="mce-LNAME"> </div> <div class="mc-field-group">   <label for="mce-MMERGE3">Location </label>  <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3"> </div>    <div id="mce-responses" class="clear">      <div class="response" id="mce-error-response" style="display:none"></div>       <div class="response" id="mce-success-response" style="display:none"></div>     </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dc998c584ca693456aadfab40_c1cfe0b8c3" tabindex="-1" value=""></div>     <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>     </div> </form> </div> <script type=\'text/javascript\' src=\'//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js\'></script><script type=\'text/javascript\'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]=\'EMAIL\';ftypes[0]=\'email\';fnames[1]=\'FNAME\';ftypes[1]=\'text\';fnames[2]=\'LNAME\';ftypes[2]=\'text\';fnames[3]=\'MMERGE3\';ftypes[3]=\'text\';}(jQuery));var $mcj = jQuery.noConflict(true);</script> <!--End mc_embed_signup-->')


                    .row#footer_take_off
                        .col-sm-6.text-center
                            p
                                | © Copyright 2016 Xpresso Labs Limited - All Rights Reserved
                        .col-sm-6.text-center
                            ul.list-inline.social-list
                                li
                                    a(href='mailto:team@hackhorizon.com')
                                        i.ti.ti-email.icon-sm
                                li
                                    a(href='https://www.facebook.com/hackhorizon', target='_blank')
                                        i.ti-facebook.icon-sm
                                li
                                    a(href='https://www.twitter.com/hackhorizon', target='_blank')
                                        i.ti-twitter-alt.icon-sm
                                li
                                    a(href='https://www.linkedin.com/company/hack-horizon', target='_blank')
                                        i.ti-linkedin.icon-sm

        //- footer#footer.in-page-link.footer-2
        //-     .container
        //-         .row
        //-             .col-md-4.col-md-offset-4
        //-                 ul.list-inline.social-list
        //-                     li
        //-                         a(href='mailto:team@hackhorizon.com')
        //-                             i.ti.ti-email.icon-sm
        //-                     li
        //-                         a(href='https://www.facebook.com/hackhorizon', target='_blank')
        //-                             i.ti-facebook.icon-sm
        //-                     li
        //-                         a(href='https://www.twitter.com/hackhorizon', target='_blank')
        //-                             i.ti-twitter-alt.icon-sm
        //-                     li
        //-                         a(href='https://www.linkedin.com/company/hack-horizon', target='_blank')
        //-                             i.ti-linkedin.icon-sm

        //-         .row
        //-             .col-md-6.col-md-offset-3
        //-                 a(href='#about')
        //-                     img.image-xs.in-page-link(alt='Horizon Logo', src='img/logo_dark.png')
        //-         .row
        //-             .col-md-6.col-md-offset-3
        //-                 span
        //-                    | © Copyright 2016 Xpresso Labs Limited - All Rights Reserved                

    script(src='js/jquery.min.js')
    script(src='js/countdown.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/flexslider.min.js')
    script(src='js/masonry.min.js')
    script(src='js/twitterfetcher.min.js')      
    script(src='js/smooth-scroll.min.js')
    script(src='js/parallax.min.js')
    script(src='js/scripts.js')
    script(src='js/custom.js')