doctype html
html(lang='en')
  head
    title Hack Horizon - Runway Rundown
    meta(charset='utf-8')
    // Open Graph Meta-Tags
    meta(property='og:title', content=' Hack Horizon - The Runway Rundown.')
    meta(property='og:site_name', content='Hack Horizon')
    meta(property='og:url', content='http://www.hackhorizon.com')
    meta(property='og:description', content='The Runway Rundown is a series of reports prepared by the Hack Horizon team to explore and discuss the current state of TravelTech innovation across different verticals in the travel industry.')
    meta(property='og:type', content='website')
    meta(property='og:image', content='http://www.hackhorizon.com/img/rr.jpg')
    meta(name='description', content='The Runway Rundown is a series of reports prepared by the Hack Horizon team to explore and discuss the current state of TravelTech innovation across different verticals in the travel industry.')
    meta(name='author', content='Kostadin Kolev')
    link(rel='canonical', href='http://www.hackhorizon.com')

    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:url', content='http://www.hackhorizon.com')
    meta(name='twitter:title', content='Hack Horizon - The Runway Rundown')
    meta(name='twitter:description', content='The Runway Rundown is a series of reports prepared by the Hack Horizon team to explore and discuss the current state of TravelTech innovation across different verticals in the travel industry.')
    meta(name='twitter:image', content='http://www.hackhorizon.com/img/rr.jpg')

    // LinkedIn Fix
    meta(prefix='og: http://ogp.me/ns#', property='og:title', content='Hack Horizon - Runway Rundown')
    meta(prefix='og: http://ogp.me/ns#', property='og:type', content='website')
    meta(prefix='og: http://ogp.me/ns#', property='og:image', content='http://www.hackhorizon.com/img/rr.jpg')
    meta(prefix='og: http://ogp.me/ns#', property='og:url', content='http://www.hackhorizon.com')

    // Google  
    meta(name='google-site-verification', content='7b1NR2hkbM8tSikmIyOuY9KomX2mYdEgdR6punOeyzs')
    meta(name='google-site-verification', content='Eo4c7vHQRKVE4sOLhfu-dsiCqSdJgf1WzOLA8rTqN9s')

    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='css/pe-icon-7-stroke.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/et-line-icons.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/font-awesome.min.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/themify-icons.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/flexslider.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/theme.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/rr.css', rel='stylesheet', type='text/css', media='all')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,600,700', rel='stylesheet', type='text/css')
    link(href='css/font-roboto.css', rel='stylesheet', type='text/css')
    

    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5M864QM');
    // End Google Tag Manager

    
    // Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43203720-4', 'auto');
      ga('send', 'pageview');

    body.scroll-assist
        // Google Tag Manager (noscript)
        noscript
          iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5M864QM', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)

        header
           .nav_bar
               .nav-container
                     nav.scrolled
                       .nav-bar.text-center
                           .col-md-2.col-md-push-5.on_top
                               .col-sm-12.text-center
                                   a(href='index.html')
                                       img#plane_logo(alt='Hack Horizon Logo', src='img/logo_dark.png')
                           .col-sm-12.col-md-5.col-md-pull-2.overflow-hidden-xs.nav_bar_open
                               ul.menu.inline-block.pull-right
                                   li
                                       a.inner-link#top_link(href='index.html#about') ABOUT
                                   li
                                       a.inner-link(href='index.html#the_hack') THE HACKATHON
                                   li
                                       a.inner-link(href='index.html#apply') APPLICATIONS

                           .col-sm-12.col-md-5.pb-xs-24.nav_bar_open
                               ul.menu
                                   li 
                                       a.inner-link(href='FAQS.html') FAQs
                                   li
                                       a.inner-link(href='runwayrundown.html') Industry INSIGHTS
                                   li
                                       a.inner-link(href='index.html#team') CONTACT US
                           .col-md-4.col-md-offset-4#social_nav
                               ul.list-inline.social-list
                                   li
                                       a(href='mailto:team@hackhorizon.com')
                                           i.ti.ti-email.icon-sm
                                   li
                                       a(href='https://www.facebook.com/hackhorizon', target='_blank')
                                           i.ti-facebook.icon-sm
                                   li
                                       a(href='https://www.twitter.com/hackhorizon', target='_blank')
                                           i.ti-twitter-alt.icon-sm
                                   li
                                       a(href='https://www.linkedin.com/company/hack-horizon', target='_blank')
                                           i.ti-linkedin.icon-sm
                   .module.widget-handle.mobile-toggle.right.visible-sm.visible-xs.absolute-xs.on_top
                       i.ti-menu
        .main-container
            section#top_cover.cover.in-page-link
                    .container.diagonal_up

                        .row
                            .col-md-4.col-md-offset-4.col-xs-8.col-xs-offset-2#cover_border_top
                        
                        .row
                            .col-md-8.col-md-offset-2.text-center
                                h1 
                                  |THE RUNWAY 
                                  br
                                  |RUNDOWN 
                        .row
                            .col-md-4.col-md-offset-4.col-xs-8.col-xs-offset-2#cover_border_bottom

                        //- .row
                        //-     .col-md-8.col-md-offset-2
                        //-         ul.list-inline.social-connect
                        //-             li
                        //-                 a(href='https://www.facebook.com/hackhorizon', target='_blank')
                        //-                     i.ti-facebook.icon-sm
                        //-             li
                        //-                 a(href='https://www.twitter.com/hackhorizon', target='_blank')
                        //-                     i.ti-twitter-alt.icon-sm
                        //-             li
                        //-                 a(href='https://www.linkedin.com/company/hack-horizon', target='_blank')
                        //-                     i.ti-linkedin.icon-sm
            section
                .container
                    .row
                        .col-md-10.col-md-offset-1.text-center
                            h1 
                                | INDUSTRY
                                br
                                | INSIGHTS 
                    .row
                        .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border

                    .row    
                        .col-md-8.col-md-offset-2.text-center
                            p
                                | The travel industry is valued at over $7.1 trillion dollars and serves over 3.6 billion passengers across the world.
                                br
                                br
                                | Yet, the big industry players across the end-to-end travel journey are struggling to keep up with the emergence of the new passenger - a more connected, mobile and demanding one. As a result,  more and more startups are entering the scene,  with new technology and solutions which raised $2.5B in deals this year. We decided to create a series of Runway Rundown reports to cover the most important trends and players in  this emerging, TravelTech movement.


            section#reports.diagonal_down.bg-secondary
                .container
                    .row
                        .col-md-10.col-md-offset-1.text-center
                            h1 
                                | The Reports
                    .row
                        .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border
                    .row
                        .col-md-8.col-md-offset-2        
                            p
                                | The Runway Rundown is a series of reports prepared by the Hack Horizon team to explore and discuss the current state of TravelTech innovation across different verticals in the travel industry. 


                            h2 Each Report Includes                        

                    .row
                        .col-md-2.col-md-offset-2.col-xs-6.report_item
                            img(alt='Industry Trends', src='img/Trends.png')
                            p Hottest Trends
                        .col-md-2.col-xs-6.report_item
                            img(alt='Innovators', src='img/Innovators.png')
                            p Top Innovators
                        .col-md-2.col-xs-6.report_item
                            img(alt='Case Studies', src='img/CaseStudies.png')
                            p Best Case Studies
                        .col-md-2.col-xs-6.report_item
                            img(alt='TravelHack', src='img/TravelHack.png')
                            p TravelHack
                    .row
                        .col-md-4.accommodation
                            .modal-container
                                .report.report_cover.btn-modal                    
                                    h1 Accommodation

                                    img.report_logo(alt="Hack Horizon Logo", src="img/logo_white.png")
                                    .foundry_modal                                 
                                        .row
                                            .col-md-5
                                                .report.accommodation_small                    
                                                    h1 Accommodation

                                                    img.report_logo(alt="Hack Horizon Logo", src="img/logo_white.png")
                                            .col-md-7.text-center
                                                h2 
                                                  | ACCOMMODATION REPORT

                                                .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border

                                                .col-md-10.col-md-offset-1

                                                    p
                                                      | From hotels and hostels, the art of housing people over night has been one of the oldest trades in the world. But in the fast moving 21st Century, we look at the accommodation industry and ask...
                                                      br
                                                      br
                                                      | How to survive in the Airbnb world?
                                                      br
                                                      | What are Instagrammable hotels?
                                                      br
                                                      | How technology redefines hotels?
                                                      br
                                                      | How to get late check out time in a hotel?

                                                .sign_up_form
                                                    .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1
                                                        form.form-newsletter(data-success='Success! We have your email and we will send you an email within the next 15 minutes with the a link to our report.', data-error='Please provide a valid email address.')
                                                            input.mb0.transparent.validate-email.validate-required.signup-email-field(type='text', name='email', placeholder='Email Address')
                                                            button.btn-white.mb0(type='submit') DOWNLOAD REPORT
                                                            iframe.mail-list-form(srcdoc='<!-- Begin MailChimp Signup Form --> <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> <style type="text/css">     #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }   /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ </style> <div id="mc_embed_signup"> <form action="//hackhorizon.us14.list-manage.com/subscribe/post?u=dc998c584ca693456aadfab40&amp;id=8adbeb1865" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>     <div id="mc_embed_signup_scroll">    <h2>Subscribe to our mailing list</h2> <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> <div class="mc-field-group">    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> </label>  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> </div> <div class="mc-field-group">    <label for="mce-FNAME">First Name </label>  <input type="text" value="" name="FNAME" class="" id="mce-FNAME"> </div> <div class="mc-field-group">   <label for="mce-LNAME">Last Name </label>   <input type="text" value="" name="LNAME" class="" id="mce-LNAME"> </div> <div class="mc-field-group">   <label for="mce-MMERGE3">Location </label>  <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3"> </div>    <div id="mce-responses" class="clear">      <div class="response" id="mce-error-response" style="display:none"></div>       <div class="response" id="mce-success-response" style="display:none"></div>     </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dc998c584ca693456aadfab40_c1cfe0b8c3" tabindex="-1" value=""></div>     <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>     </div> </form> </div> <script type=\'text/javascript\' src=\'//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js\'></script><script type=\'text/javascript\'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]=\'EMAIL\';ftypes[0]=\'email\';fnames[1]=\'FNAME\';ftypes[1]=\'text\';fnames[2]=\'LNAME\';ftypes[2]=\'text\';fnames[3]=\'MMERGE3\';ftypes[3]=\'text\';}(jQuery));var $mcj = jQuery.noConflict(true);</script> <!--End mc_embed_signup-->')
                        .col-md-4.airports
                            .modal-container
                                .report.report_cover.btn-modal                    
                                    h1 Airports
                                    img.report_logo(alt="Hack Horizon Logo", src="img/logo_white.png")
                                    .foundry_modal                                   
                                        .row
                                            .col-md-5
                                                .report.airports_small                    
                                                    h1 Airports

                                                    img.report_logo(alt="Hack Horizon Logo", src="img/logo_white.png")
                                            .col-md-7.text-center
                                                h2 
                                                  | AIRPORTS REPORT

                                                .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border

                                                .col-md-10.col-md-offset-1

                                                    p
                                                      | Airports are at the heart of travel and act as connecting hubs between cities and countries. As more and more airports are upgrading, we can explore...
                                                      br
                                                      br
                                                      | How Taiwan designed a smart Terminal? 
                                                      br
                                                      | What are world’s most innovative airports?
                                                      br
                                                      | What does “terminal bliss” mean?
                                                      br
                                                      | Get WiFi access codes for most of the airports?

                                                .sign_up_form
                                                    .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1
                                                        form.form-newsletter(data-success='Success! We have your email and we will send you an email within the next 15 minutes with the a link to our report.', data-error='Please provide a valid email address.')
                                                            input.mb0.transparent.validate-email.validate-required.signup-email-field(type='text', name='email', placeholder='Email Address')
                                                            button.btn-white.mb0(type='submit') DOWNLOAD REPORT
                                                            iframe.mail-list-form(srcdoc='<!-- Begin MailChimp Signup Form --> <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> <style type="text/css">     #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }   /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ </style> <div id="mc_embed_signup"> <form action="//hackhorizon.us14.list-manage.com/subscribe/post?u=dc998c584ca693456aadfab40&amp;id=78b4a5bc66" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>     <div id="mc_embed_signup_scroll">    <h2>Subscribe to our mailing list</h2> <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> <div class="mc-field-group">    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> </label>  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> </div> <div class="mc-field-group">    <label for="mce-FNAME">First Name </label>  <input type="text" value="" name="FNAME" class="" id="mce-FNAME"> </div> <div class="mc-field-group">   <label for="mce-LNAME">Last Name </label>   <input type="text" value="" name="LNAME" class="" id="mce-LNAME"> </div> <div class="mc-field-group">   <label for="mce-MMERGE3">Location </label>  <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3"> </div>    <div id="mce-responses" class="clear">      <div class="response" id="mce-error-response" style="display:none"></div>       <div class="response" id="mce-success-response" style="display:none"></div>     </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dc998c584ca693456aadfab40_c1cfe0b8c3" tabindex="-1" value=""></div>     <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>     </div> </form> </div> <script type=\'text/javascript\' src=\'//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js\'></script><script type=\'text/javascript\'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]=\'EMAIL\';ftypes[0]=\'email\';fnames[1]=\'FNAME\';ftypes[1]=\'text\';fnames[2]=\'LNAME\';ftypes[2]=\'text\';fnames[3]=\'MMERGE3\';ftypes[3]=\'text\';}(jQuery));var $mcj = jQuery.noConflict(true);</script> <!--End mc_embed_signup-->')


                        .col-md-4.bookings
                            .modal-container
                                .report.report_cover.btn-modal                    
                                    h1 Bookings
                                    img.report_logo(alt="Hack Horizon Logo", src="img/logo_white.png")
                                    .foundry_modal                                   
                                        .row
                                            .col-md-5
                                                .report.bookings_small                 
                                                    h1 Bookings

                                                    img.report_logo(alt="Hack Horizon Logo", src="img/logo_white.png")
                                            .col-md-7.text-center
                                                h2 
                                                  | BOOKINGS REPORT

                                                .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border

                                                .col-md-10.col-md-offset-1

                                                    p
                                                      | OTAs changed the game of bookings over the last decade and were the driving force for a lot of the technological and customer experience innovation in Travel. In this report we look at...
                                                      br
                                                      br
                                                      | How APIs are consolidating the industry?
                                                      br
                                                      | Who lets you book a ticket with a smile?
                                                      br
                                                      | Will Google monopolise travel?
                                                      br
                                                      | How to see two cities in the price of one?


                                                .sign_up_form
                                                    .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1
                                                        form.form-newsletter(data-success='Success! We have your email and we will send you an email within the next 15 minutes with the a link to our report.', data-error='Please provide a valid email address.')
                                                            input.mb0.transparent.validate-email.validate-required.signup-email-field(type='text', name='email', placeholder='Email Address')
                                                            button.btn-white.mb0(type='submit') DOWNLOAD REPORT
                                                            iframe.mail-list-form(srcdoc='<!-- Begin MailChimp Signup Form --> <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> <style type="text/css">     #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }   /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ </style> <div id="mc_embed_signup"> <form action="//hackhorizon.us14.list-manage.com/subscribe/post?u=dc998c584ca693456aadfab40&amp;id=6e1bf06930" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>     <div id="mc_embed_signup_scroll">    <h2>Subscribe to our mailing list</h2> <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> <div class="mc-field-group">    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> </label>  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> </div> <div class="mc-field-group">    <label for="mce-FNAME">First Name </label>  <input type="text" value="" name="FNAME" class="" id="mce-FNAME"> </div> <div class="mc-field-group">   <label for="mce-LNAME">Last Name </label>   <input type="text" value="" name="LNAME" class="" id="mce-LNAME"> </div> <div class="mc-field-group">   <label for="mce-MMERGE3">Location </label>  <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3"> </div>    <div id="mce-responses" class="clear">      <div class="response" id="mce-error-response" style="display:none"></div>       <div class="response" id="mce-success-response" style="display:none"></div>     </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dc998c584ca693456aadfab40_c1cfe0b8c3" tabindex="-1" value=""></div>     <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>     </div> </form> </div> <script type=\'text/javascript\' src=\'//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js\'></script><script type=\'text/javascript\'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]=\'EMAIL\';ftypes[0]=\'email\';fnames[1]=\'FNAME\';ftypes[1]=\'text\';fnames[2]=\'LNAME\';ftypes[2]=\'text\';fnames[3]=\'MMERGE3\';ftypes[3]=\'text\';}(jQuery));var $mcj = jQuery.noConflict(true);</script> <!--End mc_embed_signup-->')


                        .col-md-4.insurance
                            .modal-container
                                .report.report_cover.btn-modal                    
                                    h1 Insurance
                                    img.report_logo(alt="Hack Horizon Logo", src="img/logo_white.png")
                                    .foundry_modal                                   
                                        .row
                                            .col-md-5
                                                .report.insurance_small                   
                                                    h1 Insurance

                                                    img.report_logo(alt="Hack Horizon Logo", src="img/logo_white.png")
                                            .col-md-7.text-center
                                                h2 
                                                  | INSURANCE REPORT

                                                .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border

                                                .col-md-10.col-md-offset-1

                                                    p
                                                      | Insurance has always been a complicated but necessary product in Travel. In recent years we have seen some players in the space trying to differentiate and build a strong digital strategy. In this report we discuss...
                                                      br
                                                      br
                                                      | What do modern travellers want from insurance?
                                                      br
                                                      | Why are Grab and AXA working together?
                                                      br 
                                                      | What are best digital insurance strategies? 
                                                      br 
                                                      | How to improve the flight experience with M&Ms?

                                                .sign_up_form
                                                    .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1
                                                        form.form-newsletter(data-success='Success! We have your email and we will send you an email within the next 15 minutes with the a link to our report.', data-error='Please provide a valid email address.')
                                                            input.mb0.transparent.validate-email.validate-required.signup-email-field(type='text', name='email', placeholder='Email Address')
                                                            button.btn-white.mb0(type='submit') DOWNLOAD REPORT
                                                            iframe.mail-list-form(srcdoc='<!-- Begin MailChimp Signup Form --> <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> <style type="text/css">     #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }   /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ </style> <div id="mc_embed_signup"> <form action="//hackhorizon.us14.list-manage.com/subscribe/post?u=dc998c584ca693456aadfab40&amp;id=1e2e918478" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>     <div id="mc_embed_signup_scroll">    <h2>Subscribe to our mailing list</h2> <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> <div class="mc-field-group">    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> </label>  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> </div> <div class="mc-field-group">    <label for="mce-FNAME">First Name </label>  <input type="text" value="" name="FNAME" class="" id="mce-FNAME"> </div> <div class="mc-field-group">   <label for="mce-LNAME">Last Name </label>   <input type="text" value="" name="LNAME" class="" id="mce-LNAME"> </div> <div class="mc-field-group">   <label for="mce-MMERGE3">Location </label>  <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3"> </div>    <div id="mce-responses" class="clear">      <div class="response" id="mce-error-response" style="display:none"></div>       <div class="response" id="mce-success-response" style="display:none"></div>     </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dc998c584ca693456aadfab40_c1cfe0b8c3" tabindex="-1" value=""></div>     <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>     </div> </form> </div> <script type=\'text/javascript\' src=\'//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js\'></script><script type=\'text/javascript\'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]=\'EMAIL\';ftypes[0]=\'email\';fnames[1]=\'FNAME\';ftypes[1]=\'text\';fnames[2]=\'LNAME\';ftypes[2]=\'text\';fnames[3]=\'MMERGE3\';ftypes[3]=\'text\';}(jQuery));var $mcj = jQuery.noConflict(true);</script> <!--End mc_embed_signup-->')


                        .col-md-4.transportation  
                            .modal-container
                                 .report.report_cover.btn-modal                    
                                      h1 Transportation
                                      img.report_logo(alt="Hack Horizon Logo", src="img/logo_white.png")
                                      .foundry_modal                                
                                          .row
                                              .col-md-5
                                                  .report.transportation_small                  
                                                      h1 Transportation

                                                      img.report_logo(alt="Hack Horizon Logo", src="img/logo_white.png")
                                              .col-md-7.text-center
                                                  h2 
                                                    | TRANSPORTATION REPORT

                                                  .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border

                                                  .col-md-10.col-md-offset-1

                                                      p
                                                        | Simple, efficient and reliable transportation has always been key to a successful travel experience, and Uber has definitely paved the way in the space. However, in this report we analyze... 
                                                        br
                                                        br
                                                        | How Didi won over Uber in the taxi-hailing battle?
                                                        br 
                                                        | Why bus-sharing did not work in Finland?
                                                        br 
                                                        | Key trends and players in transport innovation
                                                        br 
                                                        | What to use when Google Maps is not enough?

                                                  .sign_up_form
                                                      .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1
                                                          form.form-newsletter(data-success='Success! We have your email and we will send you an email within the next 15 minutes with the a link to our report.', data-error='Please provide a valid email address.')
                                                              input.mb0.transparent.validate-email.validate-required.signup-email-field(type='text', name='email', placeholder='Email Address')
                                                              button.btn-white.mb0(type='submit') DOWNLOAD REPORT
                                                              iframe.mail-list-form(srcdoc='<!-- Begin MailChimp Signup Form --> <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> <style type="text/css">     #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }   /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ </style> <div id="mc_embed_signup"> <form action="//hackhorizon.us14.list-manage.com/subscribe/post?u=dc998c584ca693456aadfab40&amp;id=3d466c6ab1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>     <div id="mc_embed_signup_scroll">    <h2>Subscribe to our mailing list</h2> <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> <div class="mc-field-group">    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> </label>  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> </div> <div class="mc-field-group">    <label for="mce-FNAME">First Name </label>  <input type="text" value="" name="FNAME" class="" id="mce-FNAME"> </div> <div class="mc-field-group">   <label for="mce-LNAME">Last Name </label>   <input type="text" value="" name="LNAME" class="" id="mce-LNAME"> </div> <div class="mc-field-group">   <label for="mce-MMERGE3">Location </label>  <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3"> </div>    <div id="mce-responses" class="clear">      <div class="response" id="mce-error-response" style="display:none"></div>       <div class="response" id="mce-success-response" style="display:none"></div>     </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dc998c584ca693456aadfab40_c1cfe0b8c3" tabindex="-1" value=""></div>     <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>     </div> </form> </div> <script type=\'text/javascript\' src=\'//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js\'></script><script type=\'text/javascript\'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]=\'EMAIL\';ftypes[0]=\'email\';fnames[1]=\'FNAME\';ftypes[1]=\'text\';fnames[2]=\'LNAME\';ftypes[2]=\'text\';fnames[3]=\'MMERGE3\';ftypes[3]=\'text\';}(jQuery));var $mcj = jQuery.noConflict(true);</script> <!--End mc_embed_signup-->')

                        .col-md-4.airlines  
                            .modal-container
                                .report.report_cover.btn-modal                     
                                  h1 AIRLINES
                                  img.report_logo(alt="Hack Horizon Logo", src="img/logo_white.png")
                                  .foundry_modal                                
                                        .row
                                            .col-md-5
                                                .report.airlines_small                  
                                                    h1 AIRLINES

                                                    img.report_logo(alt="Hack Horizon Logo", src="img/logo_white.png")
                                            .col-md-7.text-center
                                                h2 
                                                  | AIRLINES REPORT

                                                .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border

                                                .col-md-10.col-md-offset-1

                                                    p
                                                      | The airline industry has always been a incredibly competitive and fascinating. They continuously fight with fuel prices, government regulations and customers with increasing expectations on decreasing budgets. In this issue we look at...
                                                      br
                                                      br
                                                      | What forces are shaking up the airlines?
                                                      br
                                                      | What are the best PaxEx strategies? 
                                                      br
                                                      | Which airline is now flying on biofuel? 
                                                      br
                                                      | How to legally hack United’s Frequent Flyer miles?

                                                .sign_up_form
                                                    .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1
                                                        form.form-newsletter(data-success='Success! We have your email and we will send you an email within next 15 minutes with the a link to our report.', data-error='Please provide a valid email address.')
                                                            input.mb0.transparent.validate-email.validate-required.signup-email-field(type='text', name='email', placeholder='Email Address')
                                                            button.btn-white.mb0(type='submit') DOWNLOAD REPORT
                                                            iframe.mail-list-form(srcdoc='<!-- Begin MailChimp Signup Form --> <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> <style type="text/css">     #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }   /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ </style> <div id="mc_embed_signup"> <form action="//hackhorizon.us14.list-manage.com/subscribe/post?u=dc998c584ca693456aadfab40&amp;id=64a42e5e9b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>     <div id="mc_embed_signup_scroll">    <h2>Subscribe to our mailing list</h2> <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> <div class="mc-field-group">    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> </label>  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> </div> <div class="mc-field-group">    <label for="mce-FNAME">First Name </label>  <input type="text" value="" name="FNAME" class="" id="mce-FNAME"> </div> <div class="mc-field-group">   <label for="mce-LNAME">Last Name </label>   <input type="text" value="" name="LNAME" class="" id="mce-LNAME"> </div> <div class="mc-field-group">   <label for="mce-MMERGE3">Location </label>  <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3"> </div>    <div id="mce-responses" class="clear">      <div class="response" id="mce-error-response" style="display:none"></div>       <div class="response" id="mce-success-response" style="display:none"></div>     </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dc998c584ca693456aadfab40_c1cfe0b8c3" tabindex="-1" value=""></div>     <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>     </div> </form> </div> <script type=\'text/javascript\' src=\'//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js\'></script><script type=\'text/javascript\'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]=\'EMAIL\';ftypes[0]=\'email\';fnames[1]=\'FNAME\';ftypes[1]=\'text\';fnames[2]=\'LNAME\';ftypes[2]=\'text\';fnames[3]=\'MMERGE3\';ftypes[3]=\'text\';}(jQuery));var $mcj = jQuery.noConflict(true);</script> <!--End mc_embed_signup-->')

            //- section#community.bg-secondary.diagonal_down
            //-     .container
            //-         .row
            //-             .col-md-10.col-md-offset-1.text-center
            //-                 h1 
            //-                     | Our Community
            //-         .row
            //-             .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border
            //-         .row    
            //-             .col-md-8.col-md-offset-2.text-center
            //-                 p
            //-                     | We are passionate and dedicated to making TravelTech a recognised technology vertical in the startup world and getting the established travel industry to embrace technology better.

            //-         .row
            //-             .col-md-6.text-center#HK_city
            //-                 //- h2 Hong Kong
            //-                 .col-md-12
            //-                     .community_image
            //-                         img(alt='Hong Kong', src='img/ttt.jpg')
            //-                     .bg-white.description                                
            //-                         p
            //-                             | To foster the local TravelTech ecosystems across Hong Kong and London, we are running monthly TravelTech Tuesdays panel discussions and meet-up events. We consistently attract 100+ attendees from across major travel companies, media, startups, students and the general public.
            //-                          a.btn.btn-lg(href='traveltechtuesdays.html') Find Out More
            //-             .col-md-6.text-center
            //-                 //- h2 London
            //-                 .col-md-12
            //-                     .community_image
            //-                         img(alt='London', src='img/rr.jpg')
            //-                     .bg-white.description                     
            //-                         p
            //-                             | We curate the biggest stories and showcase the most disruptive startups in TravelTech through our bi-weekly newsletter, Runway Rundown, which now reaches 3,000+ people across the globe.       
            //-                         a.btn.btn-lg(href='traveltechtuesdays.html') Find Out More           

            //- section#team.diagonal_down
            //-     .container
            //-         .row
            //-             .col-md-10.col-md-offset-1.text-center
            //-                 h1 
            //-                     | Our Team
            //-         .row
            //-             .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border
                    
            //-          .row    
            //-             .col-md-10.col-md-offset-1.text-center
            //-                 p
            //-                     | As active members of the startup movement in Europe and Asia, three well-travelled and entrepreneurial millennials decided to come together and use their experience of participating in and building over 40 hackathons and challenge the least disrupted industry - travel.
            //-                     br
            //-                     br
            //-                     | Joined by  another two globetrotters with startup experience, they set out to redefine TravelTech in unique setting - at 30,000ft above the ground.
                    

            //-         .row.Team.text-center
            //-             .col-md-4.col-sm-6
            //-                 a(href='')
            //-                 img.TeamPhoto.mb32(alt='Kristiyana Hart', src='img/kristy.jpg')
            //-                 h4
            //-                     | Kristiyana 
                                
            //-                     | Hart
            //-                 .team_social_links
            //-                     a(target='_blank', href='https://uk.linkedin.com/in/kristiyana-hart-803347a6')
            //-                         i.ti.ti-linkedin  
            //-                     a(target='_blank', href='https://twitter.com/kristiyana_hart')
            //-                         i.ti-twitter-alt
            //-                 p
            //-                     | An unconventional law student and social enterprise enthusiast. Founder of HUB Youth Academy and KickstartLDN.
            //-                 h4
            //-                     span - London -
            //-             .col-md-4.col-sm-6
            //-                 img.TeamPhoto.mb32(alt='Johannes Jaeger', src='img/Johannes.jpg')
            //-                 h4
            //-                     | Johannes 
                                
            //-                     |  Jaeger
            //-                 .team_social_links
            //-                     a(target='_blank', href='https://hk.linkedin.com/in/jaegerjohannes')
            //-                         i.ti.ti-linkedin
            //-                 p
            //-                     | A frequent flyer and underwater robotics champion. Co-founder of Plain Exchange and organiser of HackUST and Junction.
            //-                 h4
            //-                     span - Hong Kong -                                
            //-             .col-md-4.col-sm-6
            //-                 img.TeamPhoto.mb32(alt='Kostadin Kolev', src='img/kosta.jpg')
            //-                 h4
            //-                     | Kostadin 
                                
            //-                     | Kolev 
            //-                 .team_social_links
            //-                     a(target='_blank', href='Public Profilehttps://uk.linkedin.com/in/kostadinkolev')
            //-                         i.ti.ti-linkedin  
            //-                     a(target='_blank', href='https://twitter.com/Kosta_kolev')
            //-                         i.ti-twitter-alt
            //-                 p
            //-                     | A serial entrepreneur and backpacker. Organised HackTrain and StartupBus UK. Now Program Director of MIT Kickstart.
            //-                 h4
            //-                     span - Hong Kong -                    
            //-             .col-md-4.col-sm-6.col-md-offset-2
            //-                 img.TeamPhoto.mb32(alt='Evan Tate', src='img/evan.jpg')
            //-                 h4
            //-                     | Evan
                                
            //-                     | Tate
            //-                 .team_social_links
            //-                     a(target='_blank', href='https://hk.linkedin.com/in/evanmtate')
            //-                         i.ti.ti-linkedin  
            //-                     a(target='_blank', href='https://twitter.com/evantate')
            //-                         i.ti-twitter-alt
            //-                 p
            //-                     | An international business strategist with a passion for Health & Travel. Ex consultant at Gartner Research, now leading Strategy & Development for PassportX.
            //-                 h4
            //-                     span - Hong Kong -
            //-             .col-md-4.col-sm-6
            //-                 img.TeamPhoto.mb32(alt='Sandra Sobańska', src='img/sandra.jpg')
            //-                 h4
            //-                     | Sandra
                                
            //-                     | Sobańska
            //-                 .team_social_links
            //-                     a(target='_blank', href='https://sg.linkedin.com/in/sasobanska/en')
            //-                         i.ti.ti-linkedin  
            //-                     a(target='_blank', href='https://twitter.com/sandra_sobanska')
            //-                         i.ti-twitter-alt
            //-                 p
            //-                     | Growth hacker with passion for EdTech. Led digital marketing for hackUST and Plain Exchange.
            //-                 h4
            //-                     span - Hong Kong -                         

            //- section#media_assets
            //-     .container.diagonal_up
            //-         .row
            //-             .col-md-12.col-sm-12.text-center
            //-                 h1
            //-                     | Media Assets
            //-         .row
            //-             .col-md-2.col-md-offset-5.col-xs-8.col-xs-offset-2#about_border
                    
            //-         .row#media_links
            //-             .col-md-6
            //-                 a#apply_button.btn.btn-lg.inner-link.col-md-7.col-md-offset-4(href='https://drive.google.com/drive/folders/0B9Xy_Vso-Cq3WUVmXzRweXhEX28?usp=sharing') IMAGES
            //-             .col-md-6    
            //-                 a.btn.btn-lg.inner-link.col-md-7.col-md-offset-1.typeform-share.link(href='https://drive.google.com/drive/folders/0B9Xy_Vso-Cq3WmotNGctUE9wbjg?usp=sharing' target='_blank') LOGOS


            section.pt64.pb64.pt-xs-40.pb-xs-40
                .container
                    .row
                        .col-md-10.col-md-offset-1.text-center
                            i.ti-twitter-alt.icon.icon-lg.mb40.mb-xs-24
                            .twitter-feed.tweets-slider.large
                                .tweets-feed(data-feed-name='hackhorizon')
            

            footer.footer-2.text-center-xs.bg-secondary
                .container
                    .row
                        .col-sm-6.text-center
                            p
                                | © Copyright 2016 Xpresso Labs Limited - All Rights Reserved
                        .col-sm-6.text-right.text-center-xs
                            ul.list-inline.social-list
                                li
                                    a(href='mailto:team@hackhorizon.com')
                                        i.ti.ti-email.icon-sm
                                li
                                    a(href='https://www.facebook.com/hackhorizon', target='_blank')
                                        i.ti-facebook.icon-sm
                                li
                                    a(href='https://www.twitter.com/hackhorizon', target='_blank')
                                        i.ti-twitter-alt.icon-sm
                                li
                                    a(href='https://www.linkedin.com/company/hack-horizon', target='_blank')
                                        i.ti-linkedin.icon-sm

    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/flexslider.min.js')
    script(src='js/masonry.min.js')
    script(src='js/twitterfetcher.min.js')    
    script(src='js/smooth-scroll.min.js')
    script(src='js/parallax.min.js')
    script(src='js/scripts.js')
    //- script(src='js/custom.js')
